.material-symbols-outlined {
    font-variation-settings:
            'FILL' 0,
            'wght' 300,
            'GRAD' 0,
            'opsz' 24
}
.material-symbols-outlined.filled {
    font-variation-settings:
            'FILL' 100,
            'wght' 300,
            'GRAD' 0,
            'opsz' 24
}

.material-symbols-outlined.filled-color {
    font-variation-settings:
            'FILL' 100,
            'wght' 300,
            'GRAD' 0,
            'opsz' 24;
    color: #6A4806
}

.material-symbols-outlined.big, .material-symbols-outlined.filled {
    font-size: 30px;
}

.like .material-symbols-outlined.big:hover {
    font-variation-settings:
            'FILL' 0,
            'wght' 400,
            'GRAD' 0,
            'opsz' 24;
}
.like .material-symbols-outlined.filled:hover {
    font-variation-settings:
            'FILL' 100,
            'wght' 400,
            'GRAD' 0,
            'opsz' 24;
}

a .material-symbols-outlined.big:hover {
    font-variation-settings:
            'FILL' 100,
            'wght' 400,
            'GRAD' 0,
            'opsz' 24;
    transition: font-variation-settings 10s;
}

.material-symbols-outlined {
    background-color: transparent;
    border: none;
}