.material-symbols-outlined {
    font-variation-settings:
            'FILL' 0,
            'wght' 300,
            'GRAD' 0,
            'opsz' 24
}
.material-symbols-outlined.bold {
    font-variation-settings:
            'FILL' 0,
            'wght' 500,
            'GRAD' 0,
            'opsz' 24
}
.material-symbols-outlined.bolder {
    font-size: 40px;
    font-variation-settings:
            'FILL' 0,
            'wght' 600,
            'GRAD' 0,
            'opsz' 24
}
.material-symbols-outlined.filled {
    font-variation-settings:
            'FILL' 100,
            'wght' 300,
            'GRAD' 0,
            'opsz' 24
}

.material-symbols-outlined.red {
    font-variation-settings:
            'FILL' 0,
            'wght' 400,
            'GRAD' 0,
            'opsz' 24;
    color: #5a1410;
}

.material-symbols-outlined.green {
    font-variation-settings:
            'FILL' 0,
            'wght' 400,
            'GRAD' 0,
            'opsz' 24;
    color: #105a11;
}

.material-symbols-outlined.filled-color {
    font-variation-settings:
            'FILL' 100,
            'wght' 300,
            'GRAD' 0,
            'opsz' 24;
    color: #6A4806
}

.material-symbols-outlined.filled-black {
    font-variation-settings:
            'FILL' 100,
            'wght' 300,
            'GRAD' 0,
            'opsz' 24;
    color: #000000
}

.material-symbols-outlined.big {
    font-size: 30px;
}

.like .material-symbols-outlined.big:hover {
    font-variation-settings:
            'FILL' 0,
            'wght' 400,
            'GRAD' 0,
            'opsz' 24;
}
.like .material-symbols-outlined.filled:hover {
    font-variation-settings:
            'FILL' 100,
            'wght' 400,
            'GRAD' 0,
            'opsz' 24;
}

i.material-symbols-outlined.big:hover, a.material-symbols-outlined:hover {
    font-variation-settings:
            'FILL' 100,
            'wght' 400,
            'GRAD' 0,
            'opsz' 24;
    transition: font-variation-settings 10s;
}

.material-symbols-outlined {
    background-color: transparent;
    border: none;
}