

body {
    display: flex;
    flex-direction: column;
}

main {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

main.inbox-main {
    display: grid;
    grid-template-columns:  2fr 3fr;
    grid-template-areas: "inbox message"
}

body > header {
    display: flex;
    align-items: center;
    justify-content:space-between;
    z-index: 100;
    position: fixed;
}

.search {
    position: relative;
    display: inline-block;
}

.search-container {
    display: flex;
    align-items: center;
    flex-grow: 0.5;
    label[for=searchbar] {
        display: flex;
        align-items: center;
        flex-grow: 1;
    }
}

.search-container form {
    display: flex;
    align-items: center;
    flex-grow: 1;
}

header nav {
    display: flex;
    justify-items: center;
    align-items: center;
}

.search-btn {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.searchresult .item:hover {
    transform: scale(1.05, 1.05);
}

.nav {
    display: flex;
    align-items: center;
}

.index-main .items {
    display: flex;
    overflow: auto;
    overflow-y: hidden;
    justify-content: space-evenly;
}

.index-main .item {
    overflow: hidden;
    transform-origin: center;
    position: relative;
}

.item-info p:first-child {
    overflow: hidden;
}

.index-main .item-info {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

#show-more {
    float: right;
    display: flex;
    justify-content: right;
    align-items: center;
}

input[type="checkbox"] {
    display: grid;
    place-content: center;
    transform: translateY(-0.075em);
}

input[type="checkbox"]::before {
    transform: scale(0);
    transform-origin: bottom left;
}

input[type="checkbox"]:checked::before {
    transform: scale(1);
}

input[type="search"]::-webkit-search-cancel-button {
    transform: rotateZ(0);
}
input[type="search"]:focus::-webkit-search-cancel-button {
    transform: rotateZ(90deg);
}

/* ITEM CARD */

.items .item-info {
    display: flex;
    justify-content: space-between;
}



/* ITEM PAGE */

.itemPage {
    display: grid;
    grid-template-columns:  auto auto 1fr;
    grid-template-rows:  auto auto auto;
    grid-template-areas: "picture picture header"
                            "picture picture description"
                            "picture picture priceSection"
                            "sendMessage userProfile tags";
    padding: 1rem 3rem 0 3rem;
}

.itemPage .item-images {
    grid-area: picture;
}

.itemPage .priceSection {
    grid-area: priceSection;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.itemPage .description {
    grid-area: description;
}

.itemPage .sendMessage {
    grid-area: sendMessage;
}

.itemPage .buy-item {
    display: flex;
    align-items: center;
}

.itemPage .itemTags {
    grid-area: tags;
    display: flex;
}

.itemPage header {
    grid-area: header;
    display: flex;
    justify-content:space-between;
    h2 {
        flex-grow: 2;
    }
}

.itemPage .userProfile {
    grid-area: userProfile;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.itemPage .itemTags ul {
    display: flex;
    flex-wrap: wrap;
}

.slides {
    position: absolute;
    object-fit: cover;
}

.item-images{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.image-slide{
    display: flex;
    align-items: center;
    position: relative;
    overflow: hidden;
}

.slider-btns {
    position: absolute;
    z-index: 2;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.dots{
    position: absolute;
    top: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .5rem;
    z-index: 1;
}

/* CART PAGE */

.cartPage .Buy {
    justify-content: center;
}

.cartPage .seller {
    display: grid;
    grid-template-columns:  2fr 1fr;
    grid-template-rows:  auto auto;
    grid-template-areas: "seller-info seller-info"
                            " seller-items sum";
}

.cartPage .seller-info {
    grid-area: seller-info;
    display: flex;
    align-items: center;
}

.cartPage .item {
    display: flex;
}

.cartPage .item-info {
    display:flex;
    flex-direction: column;
    justify-content: space-between;
}

.sum {
    grid-area: sum;
    display: flex;
    flex-direction: column;
    justify-content: end;
}

.cartPage .seller-items {
    grid-area: seller-items;
}

.sum-price {
    display: flex;
    justify-content: space-between;
}

.cartPage p {
    text-align: center;
}

/* NEW ITEM PAGE */

.newItemPage form, .edit-profile form{
    display: flex;
    flex-direction: column;
}

.item-image-uploads {
    display: flex;
    flex-flow: row wrap;
}

.uploader {
    position: absolute;
    top: 0;
    left: 0;
}

.item-track .item-info {
    display: flex;
    justify-content: space-around;
}

.item-track .items {
    display: flex;
    justify-content: center;
}

/* SEARCH PAGE */

.searchPage .options {
    display: flex;
    flex-direction: column;
}

.searchPage {
    flex-grow: 1;
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto auto;
    grid-template-areas: "filter items"
                        "filter none";
}

.category-search {
    grid-area: category;
}

.filter {
    grid-area: filter;
    z-index: 3;
    >p:has(>a) {
        display: flex;
        align-items: center;
        a {
            flex-grow: 1;
            text-align: right;
        }
    }
}

.searchPage .items {
    grid-area: items;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1.2rem;
}

.filter_header {
    display: flex;
    justify-content: space-between;
}

#open-filters {
    display: none;
    z-index: 2;
}

#close-filters {
    display: none;
}

/* USER PAGE */

.user-main {
    display: grid;
    grid-template-columns:  1fr auto;
    grid-template-rows:  auto auto auto 1fr;
    grid-template-areas: "user items"
                         "feedback items"
                         "stats items"
                         "none items";
}

.user  {
    grid-area: user;
    display: flex;
    align-items: center;
    column-gap: 1rem;
}

.user-main .feedback, .profile-main .feedback {
    grid-area: feedback;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.user-main .user-details, .profile-main .user-details {
    align-self: center;
    a i {
        transform: translateY(25%);
    }
}

.profile-main .display-item > a {
    display: flex;
    align-items: center;
    justify-content: center;
}

.display-item {
    justify-content: center;
}

.user-main .items, .profile-main .items, .favorite-main .items {
    grid-area: items;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem
}

.user-main .comment img, .profile-main .comment img {
    float: left;
}

.comment-box {
    flex-grow: 1;
}

.comment {
    position: relative;
}

.comment .stars {
    position: absolute;
    right: 0.5rem;
    top: 0.5rem;
}

/* LOGIN AND REGISTER */

.login, .register {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    button {
        justify-content: center;
    }
    form {
        display: flex;
        flex-direction: column;
    }
}

.login-main {
    justify-content: center;
}

.toggleLoginRegister {
    position: relative;
    align-self: center;
}

.toggleLoginRegister:before {
    position: absolute;
    align-self: center;
    top: -0.5rem;
    left: -0.5rem;
    z-index: 20;
}

.flipLoginRegister {
    position: relative;
    transform-style: preserve-3d;
}

.register {
    transform: rotateY(180deg);
}

.checkboxLoginRegister:checked + .toggleLoginRegister:before {
    transform: rotateZ(-270deg);
    left: 2.5rem;
}

.checkboxLoginRegister {
    position: absolute;
    left: -100dvh;
    display: none;
}

#suggestions {
    position: absolute;
    top: 6px;
    display: none;
}

/* IMBOX PAGE */
.chat-inbox {
    grid-area: inbox;
    display: block;
}

.inbox-end {
    align-content: center;
}

.empty-msg-inbox {
    align-content: center;
}

.chat-page {
    grid-area: message;
    display: block;
}

.message-header{
    display: flex;
    justify-content: space-between;
}

.message-header .item-info {
    display: flex;
    align-items: center;
}

.message-header .user-info {
    display: flex;
    align-items: center;
}

.scroll {
    display: flex;
    overflow: auto;
    flex-direction: column-reverse;
}

.chat-rooms {
    display: flex;
    overflow: auto;
    flex-direction: column;
}

.messages {
    display: flex;
    flex-direction: column;
}

.received-message {
    display: flex;
    flex-direction: column;
    time {
        align-self: flex-end;
    }
}


.sent-message {
    display: flex;
    flex-direction: column;
    align-items: end;
    align-self: flex-end;
}

.input-group {
    display: flex;
}

.input-group input {
    flex-grow: 1;
}

.input-group button {
    display: flex;
    justify-content: right;
    align-items: center;
}

.chat {
    display: flex;
    align-items: center;
    position: relative;
}

.chat:after {
    position: absolute;
    left: 5%;
    bottom  : -3px;
}

.chat:hover {
    z-index: 10;
}

.chat-content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.chat > p {
    align-content: center;
}

.sum .item-info {
    display: flex;
    justify-content: space-between;
}




.cart-checkout-main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.checkout {
    flex-grow: 1;
}

.buy-form {
    display: flex;
    flex-direction: column;
    label {
        display: flex;
        flex-direction: row;
    }
}

.buy-form {
    overflow: hidden;
}


.options label {
    display: flex;
}

.options {
    display: flex;
    justify-content: space-between;
}


.payment-form {
    display: none;
}

.payment-form:nth-child(2) {
    display: block;
}

.item-track {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    grid-template-areas: "contact deliveryDate"
                        "shipping item";
}

.item-track .state li.current::after, .checkout .state li.current > button::before {
    left: -2.3rem;
}

.item-track #contact-seller {
    grid-area: contact;
}

.item-track .state {
    grid-area: shipping;
}

.item-track #delivery-date {
    grid-area: deliveryDate;
    display: flex;
    justify-content: center;
    align-items: center;
}

.item-track .item {
    grid-area: item;
    align-content: center;
}

.profile-main .items, .user-main .display-item .items{
    display: flex;
    overflow: hidden;
    max-height: 0;
}

.profile-main .items#my,  .user-main .items#my{
    max-height: 100%;
}

.profile-main .collapsible {
    border-radius: 1rem;
}

.profile-main {
    display: grid;
    grid-template-columns:  1fr auto;
    grid-template-rows:  auto auto auto 1fr;
    grid-template-areas: "user items"
                         "feedback items"
                         "stats items"
                         "none items";
}

.profile-main .display-item, .user-main .display-item {
    grid-area: items;
}

.profile-main #curve_chart {
    grid-area: stats;
}

#back-inbox {
    display: none;
}


/* CHECKOUT PAGE */

.buy-form label {
    justify-content: space-between;
    align-items: center;
    input[type="text"]:focus {
        flex-grow: 1;
    }
}

.next, .confirm {
    display: block;
}

.buy-form {
    display: flex;
}

.checkoutSum .item-info {
    display: flex;
    justify-content: space-between;
}


/* VERTICAL PROGRESS BAR */

.state {
    position: relative;
}

.state li {
    position: relative;
}

.state li::before {
    position: absolute;
    left: -1.7rem;
}

.state li.done::before {
    position: absolute;
    left: -1.7rem;
}

.checkout .state li > button::before, .item-track .state li::after{
    position: absolute;
    left: -2.2rem;
}

.state li.current::after {
    left: -2.3rem;
}

.new-item {
    display: block;
}

#messages {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 24px;
    z-index: 10;
}

#messages article {
    position: relative;
    display: flex;
}
.price-input label {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    align-items: center;
}

.price-input {
    display: flex;
    gap: 1rem;
}

.tags {
    display: none;
}

.visible {
    display: block;
}

.other {
    display: block;
}

.admin-actions {
    display: flex;
}

.change-currency {
    display: none;
}

/* NEW CATEGORY PAGE */

.newCategoryPage form {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto auto auto;
    grid-template-areas: "name add"
                        "tags tags"
                        "submit submit";
}
.newCategoryPage form > label {
    grid-area: name;
}
.newCategoryPage form > label + i {
    grid-area: add;
    align-content: center;
}
.newCategoryPage label {
    align-content: center;
}
.new-tags {
    grid-area: tags;
}
.new-tag {
    display: grid;
    align-items: center;
    grid-template-columns: auto auto auto auto 1fr;
    grid-template-rows: auto;
    grid-template-areas: "name delete type add options";
    .new-option {
        padding: 0;
    }
}
.tag-options {
    grid-area: options;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: left;
}
.tag-options label {
    display: flex;
    align-items: center;
}
.newCategoryPage form > button {
    grid-area: submit;
}

.feedback-sum {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.new-review {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.write-review {
    flex-grow: 1;
}

.hide {
    display: none;
}

.categories {
    display: flex;
    flex-direction: column;
    >label {
        display: flex;
        align-items: center;
        .paragraph {
            flex-grow: 1;
        }
    }
}

.category-box:not(.empty) {
    position: relative;
    > p {
        position: absolute;
        overflow: hidden;
        top: 0;
        left: 50%;
        transform: translate(-50%, -50%);
        align-self: center;
    }
}

.photo-upload {
    position: relative;
    overflow: hidden;
    i {
        position: absolute;
        top: 0;
        left: 0;
        align-content: center;
    }
    h5 {
        position: absolute;
        bottom: 0;
        left: 0;
        z-index: 1;
    }
}

.sale-info-main {
    align-items: center;
}

.star-review{
    position: relative;
    flex-grow: 1;
    transform: rotateY(180deg);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0;
}

.star-review input{
    display: none;
}

.new-review button {
    display: flex;
    justify-content: center;
    align-items: center;
}

.loader {
    display: grid;
}

.loader:before, .loader:after {
    grid-area: 1/1;
    transform-origin: -100% 50%;
    animation: l49 1s infinite linear;
}

.loader:after {
    transform-origin: 200% 50%;
    --s:-1;
    animation-delay: -.5s;
}

@keyframes l49 {
    58%,
    100% {transform: rotate(calc(var(--s,1)*1turn))}
}

.loader-users {
    animation: l9 1s infinite;
}

@keyframes l9 {
    0%   {background-size:1.5rem 50% ,1.5rem 50% ,1.5rem 50%}
    25%  {background-size:1.5rem 100%,1.5rem 50% ,1.5rem 50%}
    50%  {background-size:1.5rem 50% ,1.5rem 100%,1.5rem 50%}
    75%  {background-size:1.5rem 50% ,1.5rem 50% ,1.5rem 100%}
    100% {background-size:1.5rem 50% ,1.5rem 50% ,1.5rem 50%}
}

.message-progress {
    position: absolute;
    left: 4px;
    bottom: -2px;
    transform: scaleX(0);
    transform-origin: left;
}

.confirmation {
    position: relative;
    button {
        display: flex;
        align-items: center;
    }
}

.user-table-header {
    display: grid;
    grid-template-columns: 4rem 1fr 1fr 1fr 1fr 1fr;
}

.user-result .user-details {
    display: flex;
    .user-info {
        flex-grow: 1;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        align-items: center;
        justify-content: space-between;
        p {
            overflow: hidden;
        }
    }
}

.admin-main #curve_chart {
    overflow: clip;
}