

body {
    display: flex;
    flex-direction: column;
}

main {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

main.inbox-main {
    display: grid;
    grid-template-columns:  2fr 3fr;
    grid-template-areas: "inbox message"
}

body > header {
    display: flex;
    align-items: center;
    justify-content:space-between;
    z-index: 100;
}

.search-container {
    display: flex;
    align-items: center;
    flex-grow: 0.5;
    label[for=searchbar] {
        display: flex;
        align-items: center;
        flex-grow: 1;
    }
}

.search-container form {
    display: flex;
    align-items: center;
    flex-grow: 1;
}

header nav {
    display: flex;
    justify-items: center;
    align-items: center;
}

.searchbtn {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nav {
    display: flex;
    align-items: center;
}

.index-main .items {
    display: flex;
    overflow: auto;
    overflow-y: hidden;
    justify-content: space-evenly;
}



/* ITEM CARD */

.items .item-info {
    display: flex;
    justify-content: space-between;
}



/* ITEM PAGE */

.itemPage {
    display: grid;
    grid-template-columns:  auto auto 1fr;
    grid-template-rows:  auto auto auto;
    grid-template-areas: "picture picture header"
                            "picture picture description"
                            "picture picture priceSection"
                            "sendMessage userProfile tags";
    padding: 1rem 3rem 0 3rem;
}

.itemPage .item-images {
    grid-area: picture;
}

.itemPage .priceSection {
    grid-area: priceSection;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.itemPage .description {
    grid-area: description;
}

.itemPage .sendMessage {
    grid-area: sendMessage;
}

.itemPage .buy-item {
    display: flex;
    align-items: center;
}

.itemPage .itemTags {
    grid-area: tags;
    display: flex;
}

.itemPage header {
    grid-area: header;
    display: flex;
    justify-content:space-between;
    h2 {
        flex-grow: 2;
    }
}

.itemPage .userProfile {
    grid-area: userProfile;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.itemPage .itemTags ul {
    display: flex;
    flex-wrap: wrap;
}

.slides {
    position: absolute;
    object-fit: cover;
}

.item-images{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.image-slide{
    display: flex;
    align-items: center;
    position: relative;
    overflow: hidden;
}

.slider-btns {
    position: absolute;
    z-index: 2;
    width:25rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.dots{
    position: absolute;
    width: 100%;
    top: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .5rem;
    z-index: 1;
}

.dots .dot{
    width: 0.5rem;
    height: 0.5rem;
    background-color: white;
    opacity: .2;
    border-radius: 50%;
    cursor: pointer;
}

/* CART PAGE */

.cartPage .Buy {
    justify-content: center;
}

.cartPage .seller {
    display: grid;
    grid-template-columns:  2fr 1fr;
    grid-template-rows:  auto auto;
    grid-template-areas: "seller-info seller-info"
                            " seller-items sum";
}

.cartPage .seller-info {
    grid-area: seller-info;
    display: flex;
    align-items: center;
}

.cartPage .item {
    display: flex;
}

.cartPage .item-info {
    display:flex;
    flex-direction: column;
    justify-content: space-between;
}

.sum {
    grid-area: sum;
    display: flex;
    flex-direction: column;
    justify-content: end;
}

.cartPage .seller-items {
    grid-area: seller-items;
}

.sum-price {
    display: flex;
    justify-content: space-between;
}

.cartPage p {
    text-align: center;
}

/* NEW ITEM PAGE */

.newItemPage form, .edit-profile form{
    display: flex;
    flex-direction: column;
}

.item-track .item-info {
    display: flex;
    justify-content: space-around;
}

/* SEARCH PAGE */

.searchPage {
    flex-grow: 1;
}

.searchPage .item-info {
    display: flex;
    justify-content: space-between;
}

.searchPage .options {
    display: flex;
    flex-direction: column;
}

main .searchPage{
    margin-top: 5rem;
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto auto;
    grid-template-areas: "filter category"
                        "filter items";
}

.category-search {
    grid-area: category;
}

.searchPage .filter {
    grid-area: filter;
}

.searchPage .items {
    grid-area: items;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1.2rem;
}

.filter_header {
    display: flex;
    justify-content: space-between;
}

#open-filters {
    grid-area: category;
}

/* USER PAGE */

main .userPage{
    display: grid;
    grid-template-columns:  1fr auto;
    grid-template-rows:  auto 1fr;
    grid-template-areas: "user items"
                         "feedback items"
                         "stats items";
}

.userPage .user, .pfPage .user  {
    grid-area: user;
    display: flex;
    align-items: center;
}

.userPage .feedback, .pfPage .feedback {
    grid-area: feedback;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.userPage .user-details, .pfPage .user-details {
    align-self: center;
    i {
        transform: translateY(25%);
    }
}

.pfPage .display-item > a {
    display: flex;
    align-items: center;
    justify-content: center;
}

.userPage .items, .pfPage .items, .favorite-main .items {
    grid-area: items;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem
}

.userPage .user img, .pfPage .user img {
    width: 10rem;
    height: 10rem;
}

.userPage .comment img, .pfPage .comment img {
    float: left;
}

/* LOGIN AND REGISTER */
.login form, .register form {
    display: flex;
    flex-direction: column;
}

/* IMBOX PAGE */
.chat-inbox {
    grid-area: inbox;
    display: block;
}

.chat-page {
    grid-area: message;
    display: block;
}

.message-header{
    display: flex;
    justify-content: space-between;
}

.message-header .item-info {
    display: flex;
    align-items: center;
}

.message-header .user-info {
    display: flex;
    align-items: center;
}

.scroll {
    display: flex;
    overflow: auto;
    flex-direction: column-reverse;
}

.chat-rooms {
    display: flex;
    overflow: auto;
    flex-direction: column;
}

.messages {
    display: flex;
    flex-direction: column;
}

.received-message {
    display: flex;
    flex-direction: column;
    time {
        align-self: flex-end;
    }
}


.sent-message {
    display: flex;
    flex-direction: column;
    align-items: end;
    align-self: flex-end;
}

.input-group {
    display: flex;
}

.input-group input {
    flex-grow: 1;
}

.input-group button {
    display: flex;
    justify-content: right;
    align-items: center;
}

.chat {
    display: flex;
    align-items: center;
}

.chat-content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.chat > p {
    align-content: center;
}

.sum .item-info {
    display: flex;
    justify-content: space-between;
}




.cart-checkout-main {
    display: flex;
    flex-direction: row;
    margin-left: 2rem;
    margin-right: 2rem;
    justify-content: space-between;
}

.checkout {
    width: 80%;
}

.buy-form {
    display: flex;
    flex-direction: column;
    label {
        display: flex;
        flex-direction: row;
    }
}

.buy-form {
    overflow: hidden;
}


.options label {
    display: flex;
}

.options {
    display: flex;
    justify-content: space-between;
}


.payment-form {
    display: none;
}

.payment-form:nth-child(2) {
    display: block;
}

.item-track {
    margin-left: 7rem;
    margin-right: 2rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    grid-template-areas: "contact deliveryDate"
                        "shipping item";
}

.item-track #contact-seller {
    grid-area: contact;
}

.item-track .state {
    grid-area: shipping;
}

.item-track #delivery-date {
    grid-area: deliveryDate;
    text-align: center;
    display: flex;
    justify-content: center;
    p {
        margin: 0 1rem 0 0;
    }
    input {
        width: 5rem;
    }
    button {
        background-color: #E5CFA4;
        border-radius: 1rem;
        border-style: none;
    }
}

.item-track .item {
    grid-area: item;
    align-content: center;
    text-align: center;
    text-decoration: none;
    color: black;
    img {
        margin: 0 auto;
    }
}

.pfPage .items, .userPage .display-item .items{
    display: flex;
    overflow: hidden;
    max-height: 0;
    transition-duration: 500ms;
}

.pfPage .items#my,  .userPage .items#my{
    max-height: 100%;
}

.pfPage .collapsible {
    border-radius: 1rem;
}

main .pfPage{
    display: grid;
    grid-template-columns:  1fr auto;
    grid-template-rows:  auto 1fr auto;
    grid-template-areas: "user items"
                         "feedback items"
                         "stats items";
}

.pfPage .display-item, .userPage .display-item {
    grid-area: items;
}

.pfPage #curve_chart {
    grid-area: stats;
}

#back-inbox {
    display: none;
}


/* CHECKOUT PAGE */

.buy-form label {
    justify-content: space-between;
    align-items: center;
    input[type="text"]:focus {
        flex-grow: 1;
    }
}

.next, .confirm {
    display: block;
}

.buy-form {
    display: flex;
}

.checkoutSum .item-info {
    display: flex;
    justify-content: space-between;
}


/* VERTICAL PROGRESS BAR */

.state {
    position: relative;
}

.state li {
    position: relative;
}

.state li::before {
    position: absolute;
    left: -1.7rem;
}

.state li.done::before {
    position: absolute;
    left: -1.7rem;
}

.checkout .state li > button::before, .item-track .state li::after{
    position: absolute;
    left: -2.2rem;
}

.state li.current::after {
    left: -2.3rem;
}

.new-item {
    display: block;
}

#messages {
    position: fixed;
    width: max-content;
    left: 0;
    right: 0;
    bottom: 24px;
    margin-left: auto;
    margin-right: auto;
    z-index: 10;
}

#messages article {
    position: relative;
    visibility: hidden;
    display: flex;
    align-items: center;
    margin-top: 0.5rem;
}
.price-input label {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.price-input {
    display: flex;
    gap: 1rem;
}

.tags {
    display: none;
}

.visible {
    display: block;
}

.other {
    display: block;
}

.admin-actions {
    display: flex;
}

.change-currency {
    display: none;
}

/* NEW CATEGORY PAGE */

.newCategoryPage form {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto auto auto;
    grid-template-areas: "name add"
                        "tags tags"
                        "submit submit";
}
.newCategoryPage form > label {
    grid-area: name;
}
.newCategoryPage form > label + i {
    grid-area: add;
    align-content: center;
}
.newCategoryPage label {
    align-content: center;
}
.new-tags {
    grid-area: tags;
}
.new-tag {
    display: grid;
    align-items: center;
    grid-template-columns: auto auto auto auto 1fr;
    grid-template-rows: auto;
    grid-template-areas: "name delete type add options";
    .new-option {
        padding: 0;
    }
}
.tag-options {
    grid-area: options;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: left;
}
.tag-options label {
    display: flex;
    align-items: center;
}
.newCategoryPage form > button {
    grid-area: submit;
}

.feedback-sum {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.new-review {
    display: flex;
    justify-content: space-between;
}