/* CART PAGE */

.cartPage .sum {
    position: sticky;
}
.header-hidden ~ .cart-main  .cartPage .sum {
    top: 2rem;
}
.header-visible ~ .cart-main  .cartPage .sum {
    top: 6rem;
}


/* USER PAGE */

.userPage .comment-box, .pfPage .comment-box {
    overflow:auto;
}

/* ITEM PAGE */

.slides {
    transition: transform .4s ease-in-out;
}

.dots .dot {
    transition: opacity .2s ease-in-out;
}


 /* Messages */
#messages article {
    transform: translateY(30px);
}
#messages .error {
    animation: fade-in 5s linear;
}

#messages .success {
    animation: fade-in 2s linear;
}

@keyframes fade-in {
    5% {
        opacity: 1;
        visibility: visible;
        transform: translateY(0);
    }
    95% {
        opacity:1;
        transform: translateY(0);
    }
}

.error .message-progress{
    animation: progress 5s 0s linear;
}

.admin .message-progress {
    animation: progress 3s 0s linear;
}

.success .message-progress {
    animation: progress 2s 0s linear;
}

@keyframes progress {
    to {
        transform: scaleX(1);
    }
}

.index-main .items .item .item-info {
    transition: 450ms opacity;
}

.index-main .items .item:hover ~  .item {
    transform: translate3d(10px, 0, 0);
}

.index-main .item:has(~ .item:hover) {
    transform: translate3d(-10px, 0, 0);
}

.index-main .items:hover .item:hover {
    transform: scale(1.1);
    opacity: 1;
}

.index-main .item:has(~ .item:hover), .index-main .item:hover ~ .item {
    opacity: 0.3;
}



/* TABLET VIEW */
@media (max-width: 60em) {
    /* SEARCH PAGE */
    .searchPage {
        position: relative;
    }
    .searchPage .filter {
        grid-area: unset;
        transition: width 0.1s;
        width: 0;
        padding: 0;
        margin: 0;
        clip-path: border-box;
        position: absolute;
        max-height: calc(100% - 3rem);
        overflow-y: scroll;
        border-bottom-right-radius: 2rem;
    }
    .searchPage .filter::-webkit-scrollbar {
        width: 20px;
    }
    .searchPage .filter::-webkit-scrollbar-track {
        background-color: transparent;
    }
    .searchPage .filter::-webkit-scrollbar-thumb {
        background: #efdab4cd;
        border-radius: 20px;
        border: 6px solid transparent;
        background-clip: content-box;
    }
    .searchPage .filter::-webkit-scrollbar-thumb:hover {
        background-color: rgba(225, 193, 159, 0.8);
    }
    #close-filters {
        display: block;
    }
    #open-filters {
        display: block;
    }

    /* ITEM PAGE */

    .itemPage {
        display: grid;
        grid-template-columns: auto 1fr;
        grid-template-rows: auto auto auto auto auto auto;
        grid-template-areas:
        "header header"
        "picture picture"
        "picture picture"
        "priceSection priceSection"
        "description description"
        "tags tags"
        "sendMessage userProfile";
        padding: 1rem 3rem 0 3rem;
    }
    .slides, .item-images, .image-slide {
        margin: 0;
        justify-self: center;
        width: 20rem;
        height: 20rem;
        border-radius: 2rem;
    }
    .slider-btns {
        width: 20rem;
    }
    .priceSection {
        margin-top: 1rem;
    }
    .itemPage .sendMessage {
        width: 8rem;
    }
    .itemPage .userProfile {
        margin-right: 0;
    }

    /* CART PAGE */

    .cartPage .seller {
        grid-template-columns: auto auto;
        grid-template-areas:
        "seller-info sum"
        "seller-items seller-items";
    }
    .cartPage .sum {
        align-items: center;
        justify-content: space-between;
    }
    .cartPage .sum p {
        margin: 0;
    }
    .cartPage .sum .num-items {
        grid-area: number-items;
    }
    .cartPage .sum .sum-price {
        grid-area: total;
    }
    .cartPage .sum .checkout-item {
        grid-area: buy-now;
    }
    .sum {
        display: grid;
        grid-template-columns: auto auto;
        grid-template-rows: auto auto;
        grid-template-areas:
        "number-items buy-now"
        "total buy-now";
        margin: 0;
        padding: 0.5rem 0;
        border-top-style: solid;
        border-bottom-style: solid;
        flex-direction: row;
        background-color: rgba(255, 255, 255, 0.6);
        backdrop-filter: blur(5px);
        -webkit-backdrop-filter: blur(5px);
    }
    .cartPage .checkout {
        margin: 0;
    }
    .cartPage .seller-info {
        position: sticky;
        transition-duration: 0.2s;
        background-color: rgba(255, 255, 255, 0.6);
        backdrop-filter: blur(5px);
        -webkit-backdrop-filter: blur(5px);
    }
    .header-hidden ~ .cart-main  .cartPage .seller-info {
        top: 2rem;
    }
    .header-visible ~ .cart-main  .cartPage .seller-info {
        top: 6rem;
    }

    /* USER AND PROFILE PAGE */

    main .userPage, main .pfPage {
        grid-template-columns: auto;
        grid-template-rows: auto auto auto;
        grid-template-areas:
        "user"
        "feedback"
        "items";
    }
    .userPage .feedback, .pfPage .feedback {
        margin-right: 0;
        margin-bottom: 2rem;
    }
    .userPage .items, .pfPage .items {
        width: auto;
    }
    .userPage .user-details, .pfPage .user-details {
        a {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-top: 0.5rem;
        }
        i {
            transform: none;
        }
    }

    /* INBOX PAGE */

    main.inbox-main {
        grid-template-columns: auto;
        grid-template-areas: "page";
    }
    .chat-page {
        margin-left: 3rem;
        grid-area: none;
        display: none;
    }
    .chat-inbox {
        grid-area: page;
        margin: 0 3rem;
        h2 {
            text-align: center;
        }
    }
    #back-inbox {
        display: block;
        justify-items: center;
        text-align: center;
        margin: 0;
        width: 3rem;
        background-color: transparent;
        border: none;
    }
    .empty-msg-inbox {
        border-left: none;
    }
}

/* PHONE VIEW */
@media (max-width: 30em) {
    /* HEADER */

    body > header {
        height: 8rem;
        display: grid;
        grid-template-columns:  1rem auto 1fr 1rem;
        grid-template-rows:  auto auto;
        grid-template-areas: "none logo buttons"
                            "none search search";
        a {
            grid-area: logo;
        }
        #logo {
            height: 4rem;
        }
    }
    nav {
        grid-area: buttons;
        justify-content: right;
    }
    .search-container {
        grid-area: search;
        margin-bottom: 1rem;
    }

    main {
        margin: 10rem 0 2rem;
    }

    /* SEARCH PAGE */

    main .searchPage {
        margin-top: 8rem;
        grid-template-columns: auto;
        grid-template-rows: auto auto;
        grid-template-areas: "category"
                        "items";
    }

    /* ITEM PAGE */

    .slides, .item-images, .image-slide {
        margin: 0;
        justify-self: center;
        width: 80dvw;
        height: 80dvw;
        border-radius: 2rem;
    }
    .slider-btns {
        width: 80dvw;
    }
    .itemPage .price {
        font-size: 1.5rem;
    }
    .itemPage {
        padding: 0 1rem;
    }

    /* CART PAGE */

    .cartPage .seller {
        margin: 2rem 1rem;
    }
    .header-hidden ~ .cart-main  .cartPage .seller-info, .header-hidden ~ .cart-main  .cartPage .sum {
        top: 2rem;
    }
    .header-visible ~ .cart-main  .cartPage .seller-info, .header-visible ~ .cart-main  .cartPage .sum {
        top: 9rem;
    }
    main .cartPage h2 {
        padding-top: 0;
    }
    .sum {
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto;
        grid-template-areas:
        "number-items"
        "total"
        "buy-now";
    }
    .cartPage .sum .num-items {
        flex-grow: 1;
    }
    .cartPage .sum .sum-price {
        grid-area: total;
    }
    .cartPage .sum .checkout-item {
        grid-area: buy-now;
    }
    .cartPage .sum p {
        margin: 0.5rem 0;
    }
    .item img {
        width: 40dvw;
        height: 40dvw;
    }

    /* USER AND PROFILE PAGE */

    main .userPage, main .pfPage {
        padding: 0 1rem;
    }
    .userPage .user, .pfPage .user {
        flex-direction: column;
    }
    .userPage .user-details, .pfPage .user-details {
        text-align: center;
        h2 {
            margin-bottom: 0.6rem;
        }
        p {
            margin: 0;
        }
    }
    .navOption {
        padding: 0.5rem;
        margin: 0.5rem 0;
        border-style: none;
        border-radius: 0.5rem;
        background-color: #F1F1F1;
    }

    /* INBOX PAGE */

    main.inbox-main {
        margin-top: 8rem;
    }
    .chat-page {
        margin-left: 1rem;
        margin-right: 1rem;
    }
    .chat-inbox {
        margin: 0 1rem;
    }
}