/* CART PAGE */

.sum {
    position: sticky;
    transition-duration: 0.2s;
}
.header-hidden ~ .cart-main  .cartPage .sum {
    top: 2rem;
}
.header-visible ~ .cart-main  .cartPage .sum {
    top: 6rem;
}

/* USER PAGE */

.userPage .comment-box, .pfPage .comment-box {
    overflow:auto;
}

/* ITEM PAGE */

.slides {
    transition: transform .4s ease-in-out;
}

.dots .dot {
    transition: opacity .2s ease-in-out;
}

 /* Messages */
#messages article {
    transform: translateY(30px);
}
#messages .error {
    animation: fade-in 5s linear;
}

#messages .success {
    animation: fade-in 2s linear;
}

@keyframes fade-in {
    5% {
        opacity: 1;
        visibility: visible;
        transform: translateY(0);
    }
    95% {
        opacity:1;
        transform: translateY(0);
    }
}

.error .message-progress{
    animation: progress 5s 0s linear;
}

.confirmation .message-progress {
    animation: progress 3s 0s linear;
}

.success .message-progress {
    animation: progress 2s 0s linear;
}

@keyframes progress {
    to {
        transform: scaleX(1);
    }
}

.index-main .items .item .item-info {
    transition: 450ms opacity;
}

.index-main .items .item:hover ~  .item {
    transform: translate3d(10px, 0, 0);
}

.index-main .item:has(~ .item:hover) {
    transform: translate3d(-10px, 0, 0);
}

.index-main .items:hover .item:hover {
    transform: scale(1.1);
    opacity: 1;
}

.index-main .item:has(~ .item:hover), .index-main .item:hover ~ .item {
    opacity: 0.3;
}

input[type="checkbox"] {
    transition: 120ms transform ease-in-out;
}

input[type="checkbox"]::before {
    transition: 120ms transform ease-in-out;
}

input[type="search"]::-webkit-search-cancel-button {
    pointer-events: none;
    transition: 100ms all ease-in-out;
}

input[type="search"]:focus::-webkit-search-cancel-button {
    pointer-events: all;
}

.upload-icon, .delete-icon {
    transition: opacity 0.3s ease;
}

.userPage .items, .pfPage .items {
    transition-duration: 500ms;
}

#suggestions {
    transition: all 1s ease;
}

.flipLoginRegister {
    transition: transform 0.6s;
}

.toggleLoginRegister:before {
    transition: all 0.5s ease;
}

.buy-form label input[type="text"] {
    transition-duration: 100ms;
}

.buy-form {
    transition-duration: 500ms;
}

.searchresult .item, .searchresult .item img {
    transition: 0.5s all;
}

.index-main .item {
    transition: 1000ms all;
}

#show-more i {
    transition: 1000ms all;
}

.star-review  label  {
    transition-duration: 0.1s;
}

.photo-upload:hover .upload-icon, .delete-icon:hover, .photo-upload h5:hover ~ .delete-icon {
    opacity: 1;
    backdrop-filter: blur(2px);
}

.comment-box::-webkit-scrollbar-thumb:hover {
    background-color: var(--scroll-hover-secondary);
}

.chat:hover {
    background-color: var(--accent-tertiary);
    box-shadow: 0 0 5px var(--tertiary);
    border-radius: 1rem;
}

.current-chat:hover {
    background-color: var(--primary);
    box-shadow: 0 0 2px var(--tertiary);
    border-radius: 1rem;
}

.inbox-main ::-webkit-scrollbar-thumb:hover, .index-main .items::-webkit-scrollbar-thumb:hover {
    background-color: var(--scroll-background-primary);
}

.searchresult .item:hover img {
    box-shadow: 0 0 5px var(--tertiary);
}

.index-main .item-info:hover {
    opacity: 1;
}

#show-more:hover i {
    margin-left: 0.5rem;
}

.star-review input:hover ~ label {
    background: var(--star-hover);
}

/* TABLET VIEW */
@media (max-width: 60em) {
    /* SEARCH PAGE */
    .searchPage {
        position: relative;
    }
    .searchPage .filter {
        grid-area: unset;
        transition: width 0.1s;
        width: 0;
        padding: 0;
        margin: 0;
        clip-path: border-box;
        position: absolute;
        max-height: calc(100% - 3rem);
        overflow-y: scroll;
        border-bottom-right-radius: 2rem;
    }
    .searchPage .filter::-webkit-scrollbar {
        width: 20px;
    }
    .searchPage .filter::-webkit-scrollbar-track {
        background-color: transparent;
    }
    .searchPage .filter::-webkit-scrollbar-thumb {
        background: var(--scroll-background-primary);
        border-radius: 20px;
        border: 6px solid transparent;
        background-clip: content-box;
    }
    .searchPage .filter::-webkit-scrollbar-thumb:hover {
        background-color: var(--scroll-hover-primary);
    }
    #close-filters {
        display: block;
    }
    #open-filters {
        display: block;
    }

    /* ITEM PAGE */

    .itemPage {
        display: grid;
        grid-template-columns: auto 1fr;
        grid-template-rows: auto auto auto auto auto auto;
        grid-template-areas:
        "header header"
        "picture picture"
        "picture picture"
        "priceSection priceSection"
        "description description"
        "tags tags"
        "sendMessage userProfile";
        padding: 1rem 3rem 0 3rem;
    }
    .slides, .item-images, .image-slide {
        margin: 0;
        justify-self: center;
        width: 20rem;
        height: 20rem;
        border-radius: 2rem;
    }
    .slider-btns {
        width: 20rem;
    }
    .item-track img {
        width: 15rem;
        height: 15rem;
    }
    .item-track {
        margin-left: 2rem;
    }
    .priceSection {
        margin-top: 1rem;
    }
    .itemPage .sendMessage {
        width: 8rem;
    }
    .itemPage .userProfile {
        margin-right: 0;
    }

    /* CART PAGE */

    .cartPage .seller {
        grid-template-columns: auto auto;
        grid-template-areas:
        "seller-info sum"
        "seller-items seller-items";
    }
    .cartPage .sum {
        align-items: center;
        justify-content: space-between;
    }
    .cartPage .sum p {
        margin: 0;
    }
    .cartPage .sum .num-items {
        grid-area: number-items;
    }
    .cartPage .sum .sum-price {
        grid-area: total;
    }
    .cartPage .sum .checkout-item {
        grid-area: buy-now;
    }
    .sum {
        display: grid;
        grid-template-columns: auto auto;
        grid-template-rows: auto auto;
        grid-template-areas:
        "number-items buy-now"
        "total buy-now";
        margin: 0;
        padding: 0.5rem 0;
        border-top-style: solid;
        border-bottom-style: solid;
        flex-direction: row;
        background-color: var(--semi-transparent);
        backdrop-filter: blur(5px);
        -webkit-backdrop-filter: blur(5px);
    }
    .cartPage .checkout {
        margin: 0;
    }
    .cartPage .seller-info {
        position: sticky;
        transition-duration: 0.2s;
        background-color: var(--semi-transparent);
        backdrop-filter: blur(5px);
        -webkit-backdrop-filter: blur(5px);
    }
    .header-hidden ~ .cart-main  .cartPage .seller-info {
        top: 2rem;
    }
    .header-visible ~ .cart-main  .cartPage .seller-info {
        top: 6rem;
    }

    /* USER AND PROFILE PAGE */

    main .userPage, main .pfPage {
        grid-template-columns: auto;
        grid-template-rows: auto auto auto;
        grid-template-areas:
        "user"
        "feedback"
        "stats"
        "items";
    }
    .userPage .feedback, .pfPage .feedback {
        margin-right: 0;
        margin-bottom: 2rem;
    }
    .userPage .items, .pfPage .items {
        width: auto;
    }
    .userPage .user-details, .pfPage .user-details {
        a {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-top: 0.5rem;

            i {
                transform: none;
            }
        }
    }

    /* INBOX PAGE */

    main.inbox-main {
        grid-template-columns: auto;
        grid-template-areas: "page";
    }
    .chat-inbox :has( + .temporary) {
        grid-template-columns: none;
        grid-template-areas: none;
    }
    .chat-page {
        margin-left: 3rem;
        grid-area: none;
        display: none;
    }
    .temporary {
        display: block;
        grid-area: page;
    }
    .chat-inbox {
        margin: 0 3rem;
        h2 {
            text-align: center;
        }
    }
    .chat-inbox:not(:has( + .temporary)) {
        grid-area: page;
    }
    .chat-inbox:has( + .temporary) {
        grid-area: none;
        display: none;
    }
    #back-inbox {
        display: block;
        justify-items: center;
        text-align: center;
        margin: 0;
        width: 3rem;
        background-color: transparent;
        border: none;
    }
    .empty-msg-inbox {
        border-left: none;
    }

    /* FEEDBACK */

    .new-review {
        display: grid;
        grid-template-columns: 1fr auto;
        column-gap: 1rem;
        grid-template-rows: auto auto;
        grid-template-areas: "feedback send"
                            "stars stars";
        .write-review {
            grid-area: feedback;
        }
        .star-review {
            grid-area: stars;
            padding: 0;
        }
        .send-icon {
            grid-area: send;
            align-self: center;
        }
    }

    /* EDIT CATEGORY */

    .new-tag {
        grid-template-columns: auto auto auto 1fr;
        grid-template-rows: auto auto;
        grid-template-areas: "name delete type add"
                             "options options options options";
    }

    .new-tags {
        margin-left: 1rem;
    }

    /* LOGIN REGISTER PAGE */

    .login-main {
        width: 80%;
    }

    /* CHECKOUT PAGE */

    .cart-checkout-main {
        flex-direction: column;
    }

    .checkout {
        width: 100%;
    }

    .checkoutSum {
        margin-left: 0;
        margin-top: 0;
        width: auto;
    }

    .buy-form {
        padding: 0 2rem;
    }

    .buy-form label input[type="text"] {
        margin-left: 1rem;
    }
}

/* PHONE VIEW */
@media (max-width: 30em) {
    /* HEADER */

    body > header {
        height: 8rem;
        display: grid;
        grid-template-columns:  1rem auto 1fr 1rem;
        grid-template-rows:  auto auto;
        grid-template-areas: "none logo buttons"
                            "none search search";
        a {
            grid-area: logo;
        }
        #logo {
            height: 4rem;
        }
    }
    nav {
        grid-area: buttons;
        justify-content: right;
    }
    .search-container {
        grid-area: search;
        margin-bottom: 1rem;
    }

    main {
        margin: 10rem 0 2rem;
    }

    main.new-main, main.edit-profile-main, main.new-category-main {
        padding-top: 8rem;
    }

    /* SEARCH PAGE */

    main .searchPage {
        margin-top: 8rem;
        grid-template-columns: auto;
        grid-template-rows: auto auto;
        grid-template-areas: "category"
                        "items";
    }

    /* ITEM PAGE */

    .slides, .item-images, .image-slide {
        margin: 0;
        justify-self: center;
        width: 80dvw;
        height: 80dvw;
        border-radius: 2rem;
    }
    .item-track {
        margin-left: 1rem;
        margin-right: 1rem;
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto auto;
        grid-template-areas:
        "contact"
        "shipping"
        "deliveryDate"
        "item";
        form {
            text-align: center;
        }
        text-align: center;
    }
    .slider-btns {
        width: 80dvw;
    }
    .itemPage .price {
        font-size: 1.5rem;
    }
    .itemPage {
        padding: 0 1rem;
    }

    /* CART PAGE */

    .cartPage .seller {
        margin: 2rem 1rem;
    }
    .header-hidden ~ .cart-main  .cartPage .seller-info, .header-hidden ~ .cart-main  .cartPage .sum {
        top: 2rem;
    }
    .header-visible ~ .cart-main  .cartPage .seller-info, .header-visible ~ .cart-main  .cartPage .sum {
        top: 9rem;
    }
    main .cartPage h2 {
        padding-top: 0;
    }
    .sum {
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto;
        grid-template-areas:
        "number-items"
        "total"
        "buy-now";
    }
    .cartPage .sum .num-items {
        flex-grow: 1;
    }
    .cartPage .sum .sum-price {
        grid-area: total;
    }
    .cartPage .sum .checkout-item {
        grid-area: buy-now;
    }
    .cartPage .sum p {
        margin: 0.5rem 0;
    }
    .item img {
        width: 40dvw;
        height: 40dvw;
    }
    .item-track img {
        width: 80%;
        height: 80%;
    }

    /* USER AND PROFILE PAGE */

    main .userPage, main .pfPage {
        padding: 0 1rem;
    }
    .userPage .user, .pfPage .user {
        flex-direction: column;
    }
    .userPage .user-details, .pfPage .user-details {
        text-align: center;
        h2 {
            margin-bottom: 0.6rem;
        }
        p {
            margin: 0;
        }
    }
    .navOption {
        padding: 0.5rem;
        margin: 0.5rem 0;
        border-style: none;
        border-radius: 0.5rem;
        background-color: var(--secondary);
    }
    .admin-actions {
        justify-content: center;
        > * {
            margin-right: 0;
        }
    }

    h2.name {
        text-align: center;
    }

    /* INBOX PAGE */

    main.inbox-main {
        margin-top: 8rem;
    }
    .chat-page {
        margin-left: 1rem;
        margin-right: 1rem;
    }
    .chat-inbox {
        margin: 0 1rem;
    }
    .message-header .user-info {
        flex-direction: column;
        p {
            margin: 0;
        }
    }
    .addressee-img {
        max-height: 2rem;
        max-width: 2rem;
        margin-left: 0;
    }

    /* FEEDBACK */

    .userPage .comment .stars, .pfPage .comment .stars {
        position: unset;
        right: 0.5rem;
        top: 0.5rem;
    }

    /* EDIT CATEGORY */

    .new-tag {
        grid-template-columns: auto auto 1fr;
        grid-template-rows: auto auto auto;
        grid-template-areas: "name name name"
                             "delete type add"
                             "options options options";
        :first-child {
            grid-area: name;
        }
    }

    .new-tags {
        margin-left: 0;
    }

    .newCategoryPage form {
        padding: 1rem 0.5rem;
    }

    /* LOGIN REGISTER PAGE */

    .login-main {
        width: 90%;
    }

    .login input, .register input {
        width: 80%;
    }

    /* CHECKOUT PAGE */

    .cart-checkout-main {
        margin-left: 1rem;
        margin-right: 1rem;
    }

    .state {
        padding-left: 1rem;
    }
    .item-track > .state {
        width: min-content;
        margin: 1rem auto;
    }

    .item-track .state li.current::after, .checkout .state li.current > button::before {
        left: -1.8rem;
    }

    .checkout .state li > button::before, .item-track .state li::after {
        left: -1.7rem;
    }

    .state li::before, .state li.done::before {
        left: -1.15rem;
    }

    .checkout {
        width: 100%;
    }

    .checkoutSum {
        margin-left: 0;
        margin-top: 0;
    }

    .buy-form {
        padding: 0 2rem;
    }

    .buy-form label input[type="text"] {
        margin-left: 1rem;
        width: 100%;
    }
}