/* CART PAGE */

.cartPage .sum {
    position: sticky;
    top: 6rem;
}


/* USER PAGE */

.userPage .comment-box {
    overflow:auto;
}

/* ITEM PAGE */

.slides {
    transition: transform .4s ease-in-out;
}

.dots .dot {
    transition: opacity .2s ease-in-out;
}


 /* Messages */
#messages article {
    transform: translateY(30px);
}
#messages .error {
    animation: fade-in 5s linear;
}

#messages .success {
    animation: fade-in 2s linear;
}

@keyframes fade-in {
    5% {
        opacity: 1;
        visibility: visible;
        transform: translateY(0);
    }
    95% {
        opacity:1;
        transform: translateY(0);
    }
}

.error .message-progress {
    animation: progress 5s 0s linear;
}

.success .message-progress {
    animation: progress 2s 0s linear;
}

@keyframes progress {
    to {
        transform: scaleX(1);
    }
}

.mainMain .items .item .item-info {
    transition: 450ms opacity;
}

.mainMain .items .item:hover ~  .item {
    transform: translate3d(10px, 0, 0);
}

.mainMain .items:hover .item {
    opacity: 0.3;
}

.mainMain .items:hover .item:hover {
    transform: scale(1.2);
    opacity: 1;
}