@import url('https://fonts.googleapis.com/css2?family=Carrois+Gothic+SC&display=swap');

main {
    margin: 7rem 0 2rem;
}

main.new-main, main.edit-profile-main {
    margin: 0;
    padding: 7rem 0 2rem;
    background-color: #F2E8D5;
}

main.search-main {
    margin: 0;
}

body {
    margin: 0;
    font-family: "Carrois Gothic SC", serif;
    min-height: 100dvh;
}

body > header {
    width: 100%;
    height: 5rem;
    background-color: #F2E8D5;
    position: fixed;
}

.search-container {
    background-color: white;
    border-radius: 30px;
    border-color: black;
    border-width: 1px;
    border-style:solid;
    label[form=searchbar] {
        width: 100%;
    }
}

#cart, #heart, #user-pic {
    height: 2rem;
    padding: 0.5rem;
}

#login {
    padding-right: 1rem;
    padding-left: 0.5rem;
    color: black;
    text-decoration: none;
}

#logo {
    height: 5rem;
}

input[type="search"] {
    border-width: 0;
    outline: none;
    width: 100%;
}

.searchbtn {
    background-color: transparent;
    border-width: 0;
}

.dropbtn img {
    height: 1rem;
}

button {
    font-family: "Carrois Gothic SC", serif;
}


.dropdown-content {
    background-color: #D9D9D9;
    color: black;
    border: none;
    cursor: pointer;
    height: 2rem;
    border-radius: 30px;
    font-family: "Carrois Gothic SC", sans-serif;
}

.dropdown-content option {
    color: black;
    font-family: "Carrois Gothic SC", sans-serif;
    padding: 12px 16px;
}

body > footer {
    padding: 0.5em;
    margin-bottom: 0;
    background-color: #F2E8D5;
    color: black;
    text-align: center;
}

main > h2 {
    text-align: center;
    margin-top: 2rem;
}





/* ITEM CARD */

.items .item-info {
    color: black;
    p {
        margin: 0.2rem;
    }
    .price {
        font-weight: bold;
        text-align: right;
    }
}

.items .item {
    text-decoration: none;
    text-align: center;
}

.item img{
    width: 10rem;
    height: 10rem;
    border-radius: 0.5rem;
    border-style: solid;
    border-color: #D9D9D9;
}




/* ITEM PAGE */

.slides, .item-images, .image-slide {
    width: 25rem;
    height: 25rem;
    border-radius: 3rem;
}

.item-images {
    margin-right: 3rem;
}

.itemPage .userProfile {
    color: black;
    margin-right: 3rem;
    img {
        height: 2rem;
    }
}

.itemPage .sendMessage-btn {
    background-color: #F2E8D5;
    border-radius: 1rem;
    padding: 0.5rem;
    margin-top:0.5rem;
    border-style: none;
    color: #6A4806;
}

.itemPage .userProfile-btn {
    background-color: transparent;
    border-style: none;
    text-decoration: underline;
    margin-top: 1rem;
}

.itemPage header {
    height: 4rem;
    width: 100%;
}

.itemPage .edit img, .itemPage i, .like {
    height: 2rem;
    margin: 1rem 0;
}

.itemPage .priceSection {
    width: 100%;
}

.itemPage .price {
    font-size: 2rem;
    font-weight: bold;
}

.itemPage .Buy {
    background-color: transparent;
    border-style: none;
    color: #6A4806;
    padding: 0;
    margin-left: 5px;
}

.itemPage .buy-item {
    background-color: #F2E8D5;
    border-radius: 1rem;
    padding: 0.5rem;
    height: 2rem;
}

.itemPage .itemTags ul {
    padding: 0;
    margin: 0;
}

.itemPage .itemTags li {
    font-size: 0.7rem;
    margin-right: 0.5rem;
    border-style: solid;
    border-radius: 0.5rem;
    border-color: grey;
    padding: 0.3rem;
    list-style: none;
    height: 1rem;
    width: max-content;
    margin-top: 0.5rem;
}

.slider-btns i{
    width: 1.5rem;
    height: 1.5rem;
    font-size: 1.5rem;
    background: rgba(200, 200, 200, 0.451);
    border-radius: 100%;
    color: white;
    cursor: pointer;
    text-align: center;
}

.edit {
    background: none;
    border: none;
}

/* CART PAGE */

.cartPage a {
    text-decoration: none;
    color: black;
}

.cartPage .checkout {
    border-style: none;
    color: white;
    background-color: black;
    border-radius: 0.5rem;
    padding: 1rem;
    margin: 1rem auto;
    width: 100%;
}

.cartPage .buy-item {
    margin: 0 auto;
    width: 100%;
}

.cartPage .seller {
    margin: 2rem 3rem;
}

main .cartPage  h2 {
    text-align: center;
    padding-top: 1rem;
}

.cartPage .seller-info {
    margin: 0;
    padding:0.5rem 0;
    border-top-style: solid;
    border-bottom-style: solid;
    img {
        height: 2rem;
    }
    p {
        margin: 0;
    }
}

.cartPage .item {
    margin: 1rem;
}

.cartPage .item-info {
    width: 100%;
    margin-left: 1rem;
}

.cartPage .price {
    text-align: right;
}

.sum {
    height: fit-content;
    background-color: #EBEBEB;
    padding: 0 1rem;
    margin-left: 1rem;
    margin-top: 1rem;
    transition-duration: 0.2s;
}

.cartPage .seller-items {
    border-bottom-style: solid;
}

/* NEW ITEM PAGE */

.newItemPage, .edit-profile {
    background-color: #F2E8D5;
}

.newItemPage form, .edit-profile form {
    background-color: white;
    padding: 1rem;
    margin: 0 1rem;
    border-radius: 1rem;
}

.newItemPage h2, main .edit-profile h2 {
    text-align: center;
}

.newItemPage form > *, .edit-profile form > * {
    padding: 0.5rem;
}

.newItemPage input[type=text], .newItemPage input[type=number], select, .edit-profile input[type=text], .edit-profile input[type=tel], .edit-profile input[type=email] {
    background-color: #F1F1F1;
    border-style: none;
    border-radius: 0.5rem;
}

.newItemPage button, .edit-profile button {
    width: 10rem;
    margin: 1.5rem auto auto auto;
    border-style: none;
    border-radius: 0.5rem;
    background-color: #F2E8D5;
}

.item-track img {
    width: 20rem;
    height: 20rem;
}

/* TRACK ITEM */
#print {
    background-color: #E5CFA4;
    width: 50%;
    border-radius: 1rem;
    padding: 0.5rem;
    margin-top:0.5rem;
    border-style: none;
    color: #6A4806;
}

.item-track .items {
    display: flex;
    justify-content: center;
}

/* SEARCH PAGE */

.searchPage .item-info {
    width: 10rem;
}

.searchPage .price {
    text-align: right;
}

main .searchPage  h2 {
    margin:0;
}

.searchPage .filter {
    padding: 1rem 1rem 2rem;
    background-color: #F2E8D5;
    margin-right: 1rem;
    width: auto;
    z-index: 3;
}
.category-search {
    text-align: center;
}

.searchPage #searchres {
    padding: 5rem 0 2rem;
}

#open-filters {
    display: none;
    width: 3rem;
    background-color: #D9D9D9;
    border-radius: 0 2rem 2rem 0;
    height: 3rem;
    border: none;
    z-index: 2;
}
#close-filters {
    display: none;
    background-color: transparent;
    border: none;
}





/* USER PAGE */

main .userPage, .pfPage{
    padding: 0 3rem;
}

.userPage .user, .pfPage .user {
    margin-bottom: 2rem;
}

.userPage .feedback, .pfPage .feedback {
    height: 20rem;
    background-color: #D9D9D9;
    margin-right: 1rem;
    border-radius: 1rem;
    h2 {
        border-bottom-style: solid;
        border-bottom-color: black;
        padding-bottom: 1rem;
    }
    > * {
        padding-left:1rem;
    }
    > p {
        text-decoration:underline;
    }
}

.userPage .items, .pfPage .items {
    width: 23rem;
}

.userPage .user-details, .pfPage .user-details {
    a {
        background-color: #F1F1F1;
        padding: 0.5rem 1rem;
        border-radius: 0.5rem;
        text-decoration: none;
        color: black;
    }
    i {
        margin-right: 0.2rem;
    }
}

.pfPage .display-item > a {
    background-color: #F1F1F1;
    padding: 0.5rem 0;
    border-radius: 0.5rem;
    text-decoration: none;
    color: black;
    i {
        margin-right: 0.2rem;
    }
}

.userPage .comment, .pfPage .comment {
    background-color: #F1F1F1;
    margin: 0 1rem 1rem;
    border-radius: 1rem;
}

.userPage .comment img, .pfPage .comment img {
    width: 3rem;
    margin-top: 0.5rem;
    margin-right: 0.5rem;
}

.userPage .comment p, .pfPage .comment p{
    padding-top: 0.5rem;
    margin: 0;
}
.userPage .uname, .pfPage .uname {
    font-weight: bold;
}

.userPage .content, .pfPage .content {
    padding-left: 3.5rem;
    padding-bottom: 0.5rem;
}

.display-item .navbar {
    text-align: center;
}


/* LOGIN AND REGISTER */
.login, .register {
    background-color: #F2E8D5;
    text-align: center;
    margin: 0 auto;
    border-radius: 10px;
}
.login h2, .register h2 {
    margin-top: 0;
}
.login form > *, .register form > * {
    margin: 0.5rem auto;
}

.login label, .register label {
    width: 100%;
}

.login button, .register button {
    border-style: none;
    color: white;
    background-color: black;
    border-radius: 0.5rem;
    padding: 0.5rem;
    justify-content: center;
    width: 50%;
    box-shadow: 0 0 5px #c4c3ca;
}

.login input, .register input {
    border-style: none;
    border-radius: 0.5rem;
    padding: 0.5rem;
    text-align: center;
    width: 65%;
    box-shadow: 0 0 5px #c4c3ca;
}

.login a {
    color: black;
    text-decoration: none;
}

i {
    color: black;
}
.search {
    position: relative;
    display: inline-block;
}
#suggestions {
    width: 30%;
    position: absolute;
    top: 6px;
    background-color: #F1F1F1;
    transition: all 1s ease;
    margin-top: 3.2rem;
    margin-left: 7rem;
    display: none;
    border-radius: 0.5rem;
}

#suggestions a {
    color: black;
    padding: 10px;
    text-decoration: none;
}

.login-main {
    width: 40%;
    margin-right: auto;
    margin-left: auto;
    perspective: 80rem;
}

.flipLoginRegister {
    position: relative;
    width: 100%;
    height: 26rem;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
}

.login, .register {
    box-shadow: 5px 5px 10px #c4c3ca;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
}
.login {
    margin: 3rem 0;
    height: 20rem;
}
.register {
    background-color: #F2E8D5;
    transform: rotateY(180deg);
}
.checkboxLoginRegister {
    position: absolute;
    left: -100dvh;
    display: none;
}
.toggleLoginRegister {
    height: 1rem;
    width: 4rem;
    position: relative;
    text-align: center;
    border-radius: 1rem;
    align-self: center;
    margin: 1rem;
    background-color: #F2E8D5;
}
.toggleLoginRegister:before {
    box-shadow: 0 0 4px #c4c3ca;
    transition: all 0.5s ease;
    font-family: "Material Symbols Outlined";
    content: "\f1e2";
    font-size: larger;
    font-weight: bolder;
    position: absolute;
    align-self: center;
    height: 2rem;
    width: 2rem;
    top: -0.5rem;
    left: -0.5rem;
    z-index: 20;
    border-radius: 0.4rem;
    line-height: 2rem;
    text-align: center;
    background-color: #F2E8D5;
}
.checkboxLoginRegister:checked + .toggleLoginRegister:before {
    transform: rotateZ(-270deg);
    left: 2.5rem;
}
.login-main h3 {
    margin: 1rem 0 0;
    text-align: center;
    span {
        margin: 1rem;
    }
}
.login-main {
    justify-content: center;
}


/* IMBOX PAGE */
.chat-inbox {
    margin-left: 3rem;
    margin-right: 5rem;
}

.chat-page {
    margin-right: 3rem;
}

.message-header{
    margin-bottom: 1rem;
}

.message-header .item-info {
    margin: 0;
}

.item-msg-img {
    max-height: 3rem;
    max-width: 3rem;
    border: 2px solid #D9D9D9;
    border-radius: 0.5rem;
    margin-right: 1rem;
}

.message-header {
    font-weight: bold;
}

.addressee-img {
    max-height: 3rem;
    max-width: 3rem;
    margin-left: 1rem;
}

.msg-inbox {
    background-color: #FAFAFA;
    border: 2px solid #D9D9D9;
    border-radius: 1rem;
}

.scroll {
    height: 54dvh;
}

.chat-rooms {
    height: 54dvh;
    padding: 0.2rem;
}

.received-message {
    max-width: 70%;
    width: fit-content;
    background-color: #F2E8D5;
    border-radius: 1rem;
    padding: 0.8rem;
    margin-left: 2rem;
    margin-top: 1rem;
    p {
        margin: 0;
    }
    time {
        font-size: small;
    }
}

.sent-message {
    max-width: 70%;
    background-color: #D9D9D9;
    border-radius: 1rem;
    padding: 0.8rem;
    margin-right: 2rem;
    margin-top: 1rem;
    p {
        margin: 0;
    }
    time {
        font-size: small;
    }
}

.sent-message:has( + .sent-message) {
    margin-top: 0.2rem;
    border-top-right-radius: 0.5rem;
}
.sent-message + .sent-message {
    border-bottom-right-radius: 0.5rem;
}
.received-message:has( + .received-message) {
    margin-top: 0.2rem;
    border-top-left-radius: 0.5rem;
}
.received-message + .received-message {
    border-bottom-left-radius: 0.5rem;
}

.input-group {
    height: 3rem;
    padding-top: 2px;
}

.input-group input {
    height: 2rem;
    padding: 0 0.5rem;
    border: 2px solid #F2E8D5;
    border-radius: 2rem;
    margin: 0 1rem;
}

.input-group button {
    height: 2.4rem;
    width: 2.4rem;
    border-width: 0;
    background-color: #F2E8D5;
    border-radius: 3rem;
    margin-right: 1rem;
}

.chat {
    height: 4rem;
    margin-top: 5px;
    padding: 0.5rem;
    border-radius: 1rem;
    position: relative;
}

.chat:after {
    content : "";
    position: absolute;
    margin: 0 auto;
    left: 5%;
    bottom  : -3px;
    height  : 2px;
    width   : 90%;
    border-bottom: 2px solid #D9D9D9;
}

.chat:hover {
    background-color: #fff8ef;
    box-shadow: 0 0 5px #D9D9D9;
    border-radius: 1rem;
    z-index: 10;
}

.current-chat {
    background-color: #F2E8D5;
    box-shadow: 0 0 2px #D9D9D9;
    border-radius: 1rem;
}

.current-chat:hover {
    background-color: #F2E8D5;
    box-shadow: 0 0 2px #D9D9D9;
    border-radius: 1rem;
}

.inbox-end {
    height: 2rem;
    margin-top: 5px;
    padding: 0.5rem;
    text-align: center;
    align-content: center;
    font-size: small;
    color: #D9D9D9;
}

.chat img {
    height: 3rem;
}

.chat-content {
    margin: 0 1rem;
    height: 4rem;
}

.chat-content h4 {
    margin: 0;
}

.chat-content p {
    margin: 0;
    font-size:small;
}

.chat > p {
    background-color: #F2E8D5;
    border-radius: 0.75rem;
    text-align: center;
    padding: 0.1rem;
    height: 1.3rem;
    min-width: 1.3rem;
}

main.inbox-main ::-webkit-scrollbar {
    width: 20px;
}

main.inbox-main ::-webkit-scrollbar-track {
    background-color: transparent;
}

main.inbox-main ::-webkit-scrollbar-thumb {
    background: #F2E8D5;
    border-radius: 20px;
    border: 6px solid transparent;
    background-clip: content-box;
}

main.inbox-main ::-webkit-scrollbar-thumb:hover {
    background-color: #efdab4cd;
}

.empty-msg-inbox {
    border-left: 2px solid #D9D9D9;
    text-align: center;
    height: 100%;
    align-content: center;
    font-weight: bold;
    color: #D9D9D9;
    i {
        font-size: 6rem;
        color: #D9D9D9;
    }
    p{
        margin: 0;
    }
}


/* CHECKOUT PAGE */

.collapsible {
    width: 100%;
    background-color: #F1F1F1;
    border: none;
}

.buy-form label {
    padding: 0.5rem;
    input[type="text"] {
        margin-left: 4rem;
        border-style: none;
        border-radius: 0.5rem;
        padding: 0.5rem;
        transition-duration: 100ms;
    }
}

.next, .confirm {
    margin: 0.5rem auto;
    border: none;
    border-radius: 0.5rem;
    background-color: #E5CFA4;
    font-size: large;
    font-weight: bold;
    padding: 0.5rem 1rem;
}

.buy-form {
    background-color: #F2E8D5;
    padding: 0 6rem;
    border-radius: 0 0 1rem 1rem;
    max-height: 0;
    transition-duration: 500ms;
}

.checkout li > button {
    height: 4rem;
    font-weight: bold;
    font-size: large;
    border-top: 2px solid #D9D9D9;
    border-radius: 1rem;
}

.checkoutSum {
    height: fit-content;
    background-color: #F1F1F1;
    border-top: 2px solid #D9D9D9;
    padding: 1rem 2rem;
    border-radius: 1rem;
    margin-left: 1rem;
    margin-top: 1rem;
}

.checkoutSum .sum-price {
    border-top: 2px solid #c4c3ca;
}

/* VERTICAL PROGRESS BAR */

.state {
    font-family: 'Carrois Gothic SC', sans-serif;
    font-size: 1rem;
    padding-left: 3rem;
    list-style: none;
}

.state li {
    counter-increment: list;
}

.item-track .state li:not(:last-child) {
    padding-bottom: 20px;
}

.state li::before {
    content: '';
    height: 100%;
    border-left: 2px dashed #6A4806;
}

.state li.done::before {
    content: '';
    height: 100%;
    border-left: 2px solid #6A4806;
}

.checkout .state li > button::before, .item-track .state li::after{
    content: '';
    width: 1rem;
    height: 1rem;
    border: 2px solid #c4c2ca;
    border-radius: 100%;
    background-color: #FFF;
}

.item-track .state li.done::after, .checkout .state li.done > button::before {
    content: "✔";
    font-size: 13px;
    color: #FFF;
    text-align: center;
    border: 2px solid #6A4806;
    background-color: #6A4806;
}

.item-track .state li.current::after, .checkout .state li.current > button::before {
    content: counter(list);
    padding-top: 1px;
    width: 1.2rem;
    height: 1.2rem;
    left: -2.3rem;
    font-size: 0.9rem;
    text-align: center;
    color: #6A4806;
    border: 2px solid #6A4806;
}

.item-track #contact-seller {
    background-color: #E5CFA4;
    width: 50%;
    border-radius: 1rem;
    padding: 0.5rem;
    margin-top:0.5rem;
    border-style: none;
    color: #6A4806;
}

.new-item {
    text-align: center;
    width: 100%;
    background-color: #F1F1F1;
    border: none;
    border-radius: 1rem;
    text-decoration: none;
    color: black;
}

:root {
    --error-background: rgba(232, 133, 127, 0.66);
    --error-primary: #5a1410;
    --success-background: rgba(169, 232, 127, 0.66);
    --success-primary: #105a11;
    --confirm-background: rgba(243, 223, 169, 0.66);
    --confirm-primary: #6A4806;
}
#messages article{
    border-radius: 6px;
    backdrop-filter: blur(5px);
    opacity: 0;
    padding: 10px 8px;
    i {
        padding-right: 5px;
    }
}
#messages .error {
    background-color: var(--error-background);
    color: var(--error-primary);
}

#messages .success {
    background-color: var(--success-background);
    color: var(--success-primary);
}

.message-progress {
    position: absolute;
    left: 4px;
    bottom: 4px;
    width: calc(100% - 8px);
    height: 3px;
    transform: scaleX(0);
    transform-origin: left;
    border-radius: inherit;
}

.error .message-progress {
    background: linear-gradient(to right, var(--error-background), var(--error-primary));
}

.admin .message-progress {
    background: linear-gradient(to right, var(--confirm-background), var(--confirm-primary));
}


.admin {
    margin: 0 0.5rem 0 0;
    position: relative;
    border-radius: 0.5rem;
    button {
        background-color: white;
        border-style: none;
        padding-bottom: 0.5rem;
        border-radius: 0.5rem;
        i {
            padding-bottom: 1rem;
        }
    }
}

.success .message-progress {
    background: linear-gradient(to right, var(--success-background), var(--success-primary));
}

.searchresult {
    margin-bottom: 1rem;
}

.price-input input {
    width: 3rem;
    background-color: #F2E8D5;
    border-radius: 0.5rem;
    border-width: 1px;
    box-shadow: black 0px 2px ;
}

.searchPage .items {
    padding: 0 1rem;
}

.navOption {
    padding: 0.5rem;
    margin: 0.5rem;
    border-style: none;
    border-radius: 0.5rem;
    background-color: #F1F1F1;
}

#messages p {
    margin: 0;
    padding: 0;
}

.index-main .items {
    margin: 0;
    width: 100%;
    padding: 0 20px;
    box-sizing: border-box;
}

.index-main .items .item {
    width: 200px;
    height: 200px;
    min-width: 200px;
    border-radius: 20px;
    overflow: hidden;
    margin: 10px 5px;
    transition: 1000ms all;
    transform-origin: center;
    position: relative;
    border-style: solid;
    border-color: #F1F1F1;
}

.index-main .items .item img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-style: none;
}

.index-main .items .item .item-info {
    background: linear-gradient(
            to top,
            rgba(0, 0, 0, 0.9) 0%,
            rgba(0, 0, 0, 0) 100%
    );
    font-size: 10px;
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 165px 10px 10px;
}

.index-main .items .item .item-info:hover {
    opacity: 1;
}

.index-main .items .item .item-info p {
    color: #fff;
    margin: 5px 0;
    font-size: 0.8rem;
    max-width: 100px;
}

#show-more {
    float: right;
    text-align: right;
    padding-right: 20px;
    color: black;
    text-decoration: none;
    display: flex;
    justify-content: right;
    align-content: baseline;
}

a {
    text-decoration: none;
    color: inherit;
}

/* saleInfo */
@media print {
    /* All your print styles go here */
    header {
        display: none !important;
    }
    #messages {
        display: none !important;
    }
    main {
        margin: 0 !important;
    }
    footer {
        display: none !important;
    }
    @page {
        @bottom-left {
            content: none;
        }
        @bottom-left-corner {
            content: none;
        }
        size: A5 portrait;
        margin: 0;
    }
}

.sale-info-main {
    align-items: center;
}

.shipInfo {
    border-bottom: 2px solid black;
    border-top: 2px solid black;
    padding: 2rem;
    margin-bottom: 2rem;
}

.profile-picture {
    border-radius: 100%;
}
.uploader {
    /* make it invisible */
    opacity: 0;
    /* make it take the full height and width of the parent container */
    height: 100%;
    width: 100%;
    cursor: pointer;
}

.upload-icon {
    opacity: 0.5;
    transition: opacity 0.3s ease;
    color: rgb(147, 147, 147);
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #bbb;
}

.photo-upload {
    opacity: 0.75;
    overflow: hidden;

    box-shadow: 0 8px 6px -6px;
}

/* toggle icon state */
.photo-upload:hover .upload-icon {
    opacity: 1;
}

.photo-upload {
    width: 200px;
    height: 200px;
    background-color: #0a0a23;
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0.5em;
    padding: 0.5em;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    i {
        position: absolute;
        top: 45%;
        left: 45%;
    }
    h5 {
        position: absolute;
    }
}

.edit-profile .photo-upload{
    border-radius: 100%;
}

section.item-image-uploads {
    display: flex;
    flex-flow: row wrap;
    h4 {
        width: 100%;
    }
    .main-photo-upload {
        box-shadow: 0 0 0 5px lightgoldenrodyellow;
    }
}