@import url('https://fonts.googleapis.com/css2?family=Carrois+Gothic+SC&display=swap');

:root {
    --error-background: rgba(232, 133, 127, 0.66);
    --error-primary: #5a1410;
    --success-background: rgba(169, 232, 127, 0.66);
    --success-primary: #105a11;
    --confirm-background: rgba(243, 223, 169, 0.66);
    --primary: #F2E8D5;
    --secondary: #F1F1F1;
    --tertiary: #D9D9D9;
    --quaternary: #FAFAFA;
    --accent-primary: #6A4806;
    --accent-secondary: #E5CFA4;

}

main {
    margin: 7rem 0 2rem;
}

main.new-main, main.edit-profile-main, main.new-category-main {
    margin: 0;
    padding: 7rem 0 2rem;
    background-color: var(--primary);
}

main.search-main {
    margin: 0;
}

body {
    margin: 0;
    font-family: "Carrois Gothic SC", serif;
    min-height: 100dvh;
}

body > header {
    width: 100%;
    height: 5rem;
    background-color: var(--primary);
    position: fixed;
}

select, input[type="text"], input[type="number"], input[type="password"], input[type="email"], input[type="tel"] {
    padding: 0.5rem;
    background-color: var(--secondary);
    border-style: none;
    border-radius: 0.5rem;
}

select:focus-visible, input[type="text"]:focus-visible, input[type="number"]:focus-visible, input[type="password"]:focus-visible, input[type="email"]:focus-visible, input[type="tel"]:focus-visible {
    outline: var(--tertiary) solid 2px;
}

.search-container {
    background-color: white;
    border-radius: 30px;
    border-color: black;
    border-width: 1px;
    border-style:solid;
    label[form=searchbar] {
        width: 100%;
    }
}

.filter input[type="text"], .filter input[type="number"], .filter select {
    background-color: var(--quaternary);
    border-style: none;
    border-radius: 0.5rem;
}

input[type="checkbox"] {
    appearance: none;
    background-color: var(--secondary);
    color: currentColor;
    width: 0.8rem;
    height: 0.8rem;
    border: 0.1rem solid var(--accent-primary);
    border-radius: 0.2rem;
    display: grid;
    place-content: center;
    transform: translateY(-0.075em);
    transition: 120ms transform ease-in-out;
}

input[type="checkbox"]::before {
    content: '';
    font-size: 0.5rem;
    text-align: center;
    color: white;
    width: 0.5rem;
    height: 0.5rem;
    transform: scale(0);
    transition: 120ms transform ease-in-out;
    box-shadow: inset 1em 1em var(--accent-primary);
    background-color: CanvasText;
    transform-origin: bottom left;
    clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
}

input[type="checkbox"]:checked::before {
    transform: scale(1);
}

#cart, #heart, #user-pic {
    height: 2rem;
    padding: 0.5rem;
}

#login {
    padding-right: 1rem;
    padding-left: 0.5rem;
    color: black;
    text-decoration: none;
}

#logo {
    height: 5rem;
}

input[type="search"] {
    border-width: 0;
    outline: none;
    width: 100%;
}

input[type="search"]::-webkit-search-cancel-button {
    -webkit-appearance: none;
    height: 1em;
    width: 1em;
    border-radius: 50em;
    box-shadow: inset 1em 1em var(--accent-primary);
    transform: rotateZ(0);
    transition: 100ms all ease-in-out;
    clip-path: polygon(20% 0%, 0% 20%, 30% 50%, 0% 80%, 20% 100%, 50% 70%, 80% 100%, 100% 80%, 70% 50%, 100% 20%, 80% 0%, 50% 30%);
    background-size: contain;
    opacity: 0;
    pointer-events: none;
}
input[type="search"]:focus::-webkit-search-cancel-button {
    opacity: 0.8;
    transform: rotateZ(90deg);
    pointer-events: all;
 }

.search-btn {
    background-color: transparent;
    border-width: 0;
}
/* REVIEWED UNTIL HERE -------------------------------------------------------------------------------------------------------*/
button {
    font-family: "Carrois Gothic SC", serif;
}


.dropdown-content {
    background-color: var(--tertiary);
    color: black;
    border: none;
    cursor: pointer;
    height: 2rem;
    border-radius: 30px;
    font-family: "Carrois Gothic SC", sans-serif;
}

.dropdown-content option {
    color: black;
    font-family: "Carrois Gothic SC", sans-serif;
    padding: 12px 16px;
}

body > footer {
    padding: 0.5em;
    margin-bottom: 0;
    background-color: var(--primary);
    color: black;
    text-align: center;
}

h2 {
    text-align: center;
}

header > h2, h2.name {
    text-align: left;
}

main > h2 {
    margin-top: 2rem;
}





/* ITEM CARD */

.items .item-info {
    color: black;
    p {
        margin: 0.2rem;
    }
    .price {
        font-weight: bold;
        text-align: right;
    }
}

.items .item {
    text-decoration: none;
    text-align: center;
}

.item img{
    width: 10rem;
    height: 10rem;
    border-radius: 0.5rem;
    border-style: solid;
    border-color: var(--tertiary);
}




/* ITEM PAGE */

.slides, .item-images, .image-slide {
    width: 25rem;
    height: 25rem;
    border-radius: 3rem;
}

.item-images {
    margin-right: 3rem;
}

.itemPage .userProfile {
    color: black;
    margin-right: 3rem;
    img {
        height: 2rem;
        margin-left: 0.5rem;
    }
}

.itemPage .sendMessage-btn {
    background-color: var(--primary);
    border-radius: 1rem;
    padding: 0.5rem;
    margin-top:0.5rem;
    border-style: none;
    color: var(--accent-primary);
}

.itemPage .userProfile-btn {
    background-color: transparent;
    border-style: none;
    text-decoration: underline;
    margin-top: 1rem;
}

.itemPage header {
    height: 4rem;
    width: 100%;
}

.itemPage .edit img, .itemPage i, .like {
    height: 2rem;
    margin: 1rem 0;
}

.like {
    text-align: center;
    button {
        height: 2rem;
    }
    p {
        margin: 0;
        font-weight: bold;
        font-size: small;
    }
}

.itemPage .priceSection {
    width: 100%;
}

.itemPage .price {
    font-size: 2rem;
    font-weight: bold;
}

.itemPage .Buy {
    background-color: transparent;
    border-style: none;
    color: var(--accent-primary);
    padding: 0;
    margin-left: 5px;
}

.itemPage .buy-item {
    background-color: var(--primary);
    border-radius: 1rem;
    padding: 0.5rem;
    height: 2rem;
}

.itemPage .itemTags ul {
    padding: 0;
    margin: 0;
}

.itemPage .itemTags li {
    font-size: 0.7rem;
    margin-right: 0.5rem;
    border-style: solid;
    border-radius: 0.5rem;
    border-color: grey;
    padding: 0.3rem;
    list-style: none;
    height: 1rem;
    width: max-content;
    margin-top: 0.5rem;
}

.slider-btns i{
    width: 1.5rem;
    height: 1.5rem;
    font-size: 1.5rem;
    background: rgba(200, 200, 200, 0.451);
    border-radius: 100%;
    color: white;
    cursor: pointer;
    text-align: center;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}

.edit {
    background: none;
    border: none;
}

/* CART PAGE */

.cartPage a {
    text-decoration: none;
    color: black;
}

.cartPage .checkout {
    border-style: none;
    color: white;
    background-color: black;
    border-radius: 0.5rem;
    padding: 1rem;
    margin: 1rem auto;
    width: 100%;
}

.cartPage .buy-item {
    margin: 0 auto;
    width: 100%;
}

.cartPage .seller {
    margin: 2rem 3rem;
}

main .cartPage  h2 {
    padding-top: 1rem;
}

.cartPage .seller-info {
    margin: 0;
    padding:0.5rem 0;
    border-top-style: solid;
    border-bottom-style: solid;
    img {
        height: 2rem;
    }
    p {
        margin: 0;
    }
}

.cartPage .item {
    margin: 1rem;
}

.cartPage .item-info {
    width: 100%;
    margin-left: 1rem;
}

.cartPage .price {
    text-align: right;
}

.sum {
    height: fit-content;
    background-color: var(--secondary);
    padding: 0 1rem;
    margin-left: 1rem;
    margin-top: 1rem;
    transition-duration: 0.2s;
}

.cartPage .seller-items {
    border-bottom-style: solid;
}

/* NEW ITEM PAGE */

.newItemPage, .edit-profile, .newCategoryPage {
    background-color: var(--primary);
}

.newItemPage form, .edit-profile form, .newCategoryPage form {
    background-color: white;
    padding: 1rem;
    margin: 0 1rem;
    border-radius: 1rem;
}

.newItemPage form > *, .edit-profile form > *, .newCategoryPage form * {
    padding: 0.5rem;
}

.tags {
    padding: 0;
    * {
        padding: 0.5rem;
    }
}

.newItemPage button, .edit-profile button, .newCategoryPage button {
    width: 10rem;
    margin: 1.5rem auto auto auto;
    border-style: none;
    border-radius: 0.5rem;
    background-color: var(--primary);
}

.item-track img {
    width: 20rem;
    height: 20rem;
}

.uploader {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    cursor: pointer;
    + * {
        cursor: pointer;
    }
}

.upload-icon, .delete-icon {
    opacity: 0.5;
    transition: opacity 0.3s ease;
    color: black;
}

.photo-upload {
    opacity: 0.75;
    overflow: hidden;

    box-shadow: 0 8px 6px -6px;
}

/* toggle icon state */
.photo-upload:hover .upload-icon, .delete-icon:hover, .photo-upload h5:hover ~ .delete-icon {
    opacity: 1;
    backdrop-filter: blur(2px);
}

.photo-upload {
    width: 200px;
    height: 200px;
    background-color: var(--tertiary);
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0.5em;
    padding: 0.5em;
    border-radius: 2rem;
    i {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        align-content: center;
        text-align: center;
    }
    h5 {
        position: absolute;
        text-align: center;
        width: 100%;
        bottom: 0;
        left: 0;
        font-size: medium;
        z-index: 1;
    }
}

.edit-profile .photo-upload{
    border-radius: 100%;
}

section.item-image-uploads {
    display: flex;
    flex-flow: row wrap;
    h4 {
        width: 100%;
    }
    .main-photo-upload {
        box-shadow: 0 0 0 5px var(--primary);
    }
}

/* TRACK ITEM */
#print {
    background-color: var(--accent-secondary);
    width: 50%;
    border-radius: 1rem;
    padding: 0.5rem;
    margin-top:0.5rem;
    border-style: none;
    color: var(--accent-primary);
}

.item-track .items {
    display: flex;
    justify-content: center;
}

/* SEARCH PAGE */

.searchPage .item-info {
    width: 10rem;
}

.searchPage .price {
    text-align: right;
}

main .searchPage  h2 {
    margin:0;
}

.searchPage .filter {
    padding: 1rem 1rem 2rem;
    background-color: var(--primary);
    margin-right: 1rem;
    width: auto;
    z-index: 3;
}
.category-search {
    text-align: center;
}

.searchPage #searchres {
    padding: 5rem 0 2rem;
}

#open-filters {
    display: none;
    width: 3rem;
    background-color: var(--tertiary);
    border-radius: 0 2rem 2rem 0;
    height: 3rem;
    border: none;
    z-index: 2;
}
#close-filters {
    display: none;
    background-color: transparent;
    border: none;
}

.category-box:not(.empty) {
    border: 2px solid var(--accent-primary);
    border-radius: 1rem;
    padding: 0.5rem;
    margin-top: 1rem;
    position: relative;
    > p {
        margin: 0;
        padding: 0 0.5rem;
        text-align: center;
        position: absolute;
        top: 0;
        left: 50%;
        transform: translate(-50%, -50%);
        align-self: center;
        background-color: var(--primary);
    }
}

.filter input[type="text"] {
    width: 100%;
}

/* USER PAGE */

main .userPage, .pfPage{
    padding: 0 3rem;
}

.userPage .user, .pfPage .user {
    margin-bottom: 2rem;
    column-gap: 1rem;
}

.userPage .feedback, .pfPage .feedback {
    height: 20rem;
    background-color: var(--tertiary);
    margin-right: 1rem;
    border-radius: 1rem;
    > p {
        text-decoration:underline;
    }
}

.feedback-sum {
    border-bottom-style: solid;
    border-bottom-color: black;
    margin-bottom: 1rem;
    padding: 0 1rem;
    .stars {
        height: 24px;
        p {
            margin: 0;
            text-align: center;
            font-size: small;
            font-weight: bold;
        }
    }
}

.userPage .items, .pfPage .items {
    width: 24rem;
}

.userPage .user-details, .pfPage .user-details {
    a {
        background-color: var(--secondary);
        padding: 0.5rem 1rem;
        border-radius: 0.5rem;
        text-decoration: none;
        color: black;
    }
    i {
        margin-right: 0.2rem;
    }
}

.pfPage .display-item > a {
    background-color: var(--secondary);
    padding: 0.5rem 0;
    border-radius: 0.5rem;
    text-decoration: none;
    color: black;
    i {
        margin-right: 0.2rem;
    }
}

.userPage .comment, .pfPage .comment {
    background-color: var(--secondary);
    margin: 0 1rem 1rem;
    border-radius: 1rem;
    position: relative;
}

.userPage .comment img, .pfPage .comment img {
    width: 3rem;
    margin: 0.5rem;
}

.userPage .comment .stars, .pfPage .comment .stars {
    position: absolute;
    right: 0.5rem;
    top: 0.5rem;
}

.userPage .comment-box, .pfPage .comment-box {
    flex-grow: 1;
    > p {
        text-align: center;
    }
}


.userPage .comment-box::-webkit-scrollbar, .pfPage .comment-box::-webkit-scrollbar {
    width: 20px;
}

.userPage .comment-box::-webkit-scrollbar-track, .pfPage .comment-box::-webkit-scrollbar-track {
    background-color: transparent;
}

.userPage .comment-box::-webkit-scrollbar-thumb, .pfPage .comment-box::-webkit-scrollbar-thumb {
    background: rgba(25, 25, 25, 0.2);
    border-radius: 20px;
    border: 6px solid transparent;
    background-clip: content-box;
}

.userPage .comment-box::-webkit-scrollbar-thumb:hover, .pfPage .comment-box::-webkit-scrollbar-thumb:hover {
    background-color: rgba(25, 25, 25, 0.3);
}

.userPage .comment p, .pfPage .comment p{
    padding-top: 0.5rem;
    margin: 0;
}
.userPage .uname, .pfPage .uname {
    font-weight: bold;
}

.userPage .content, .pfPage .content {
    padding-left: 3.5rem;
    padding-bottom: 0.5rem;
    padding-right: 0.5rem;
    word-break: break-word;
}
.display-item {
    justify-content: center;
}

.display-item .navbar {
    text-align: center;
}

.navOption.my {
    border: 2px solid var(--tertiary);
}


/* LOGIN AND REGISTER */
.login, .register {
    background-color: var(--primary);
    text-align: center;
    margin: 0 auto;
    border-radius: 10px;
}
.login h2, .register h2 {
    margin-top: 0;
}
.login form > *, .register form > * {
    margin: 0.5rem auto;
}

.login label, .register label {
    width: 100%;
}

.login button, .register button {
    border-style: none;
    color: white;
    background-color: black;
    border-radius: 0.5rem;
    padding: 0.5rem;
    justify-content: center;
    width: 50%;
    box-shadow: 0 0 5px var(--tertiary);
}

.login input, .register input {
    border-style: none;
    border-radius: 0.5rem;
    padding: 0.5rem;
    text-align: center;
    width: 65%;
    box-shadow: 0 0 5px var(--tertiary);
}

.login a {
    color: black;
    text-decoration: none;
}

i {
    color: black;
}
.search {
    position: relative;
    display: inline-block;
}
#suggestions {
    width: 30%;
    position: absolute;
    top: 6px;
    background-color: var(--secondary);
    transition: all 1s ease;
    margin-top: 3.2rem;
    margin-left: 7rem;
    display: none;
    border-radius: 0.5rem;
}

#suggestions a {
    color: black;
    padding: 10px;
    text-decoration: none;
}

.login-main {
    width: 40%;
    max-width: 30rem;
    margin-right: auto;
    margin-left: auto;
    perspective: 80rem;
}

.flipLoginRegister {
    position: relative;
    width: 100%;
    height: 26rem;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
}

.login, .register {
    box-shadow: 5px 5px 10px var(--tertiary);
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
}
.login {
    margin: 3rem 0;
    height: 20rem;
}
.register {
    background-color: var(--primary);
    transform: rotateY(180deg);
}
.checkboxLoginRegister {
    position: absolute;
    left: -100dvh;
    display: none;
}
.toggleLoginRegister {
    height: 1rem;
    width: 4rem;
    position: relative;
    text-align: center;
    border-radius: 1rem;
    align-self: center;
    margin: 1rem;
    background-color: var(--primary);
}
.toggleLoginRegister:before {
    box-shadow: 0 0 4px var(--tertiary);
    transition: all 0.5s ease;
    font-family: "Material Symbols Outlined";
    content: "\f1e2";
    font-size: larger;
    font-weight: bolder;
    position: absolute;
    align-self: center;
    height: 2rem;
    width: 2rem;
    top: -0.5rem;
    left: -0.5rem;
    z-index: 20;
    border-radius: 0.4rem;
    line-height: 2rem;
    text-align: center;
    background-color: var(--primary);
}
.checkboxLoginRegister:checked + .toggleLoginRegister:before {
    transform: rotateZ(-270deg);
    left: 2.5rem;
}
.login-main h3 {
    margin: 1rem 0 0;
    text-align: center;
    span {
        margin: 1rem;
    }
}
.login-main {
    justify-content: center;
}


/* IMBOX PAGE */
.chat-inbox {
    margin-left: 3rem;
    margin-right: 5rem;
}

.chat-page {
    margin-right: 3rem;
}

.message-header{
    margin-bottom: 1rem;
}

.message-header .item-info {
    margin: 0;
}

.item-msg-img {
    max-height: 3rem;
    max-width: 3rem;
    border: 2px solid var(--tertiary);
    border-radius: 0.5rem;
    margin-right: 1rem;
}

.message-header {
    font-weight: bold;
}

.addressee-img {
    max-height: 3rem;
    max-width: 3rem;
    margin-left: 1rem;
}

.msg-inbox {
    background-color: var(--quaternary);
    border: 2px solid var(--tertiary);
    border-radius: 1rem;
}

.scroll {
    height: 54dvh;
}

.chat-rooms {
    height: 54dvh;
    padding: 0.2rem;
}

.received-message {
    max-width: 70%;
    width: fit-content;
    background-color: var(--primary);
    border-radius: 1rem;
    padding: 0.8rem;
    margin-left: 2rem;
    margin-top: 1rem;
    p {
        margin: 0;
    }
    time {
        font-size: small;
    }
}

.sent-message {
    max-width: 70%;
    background-color: var(--tertiary);
    border-radius: 1rem;
    padding: 0.8rem;
    margin-right: 2rem;
    margin-top: 1rem;
    p {
        margin: 0;
    }
    time {
        font-size: small;
    }
}

.sent-message:has( + .sent-message) {
    margin-top: 0.2rem;
    border-top-right-radius: 0.5rem;
}
.sent-message + .sent-message {
    border-bottom-right-radius: 0.5rem;
}
.received-message:has( + .received-message) {
    margin-top: 0.2rem;
    border-top-left-radius: 0.5rem;
}
.received-message + .received-message {
    border-bottom-left-radius: 0.5rem;
}

.input-group {
    height: 3rem;
    padding-top: 2px;
}

.input-group input {
    height: 2rem;
    padding: 0 0.5rem;
    border: 2px solid var(--primary);
    border-radius: 2rem;
    margin: 0 1rem;
}

.input-group button {
    height: 2.4rem;
    width: 2.4rem;
    border-width: 0;
    background-color: var(--primary);
    border-radius: 3rem;
    margin-right: 1rem;
}

.chat {
    height: 4rem;
    margin-top: 5px;
    padding: 0.5rem;
    border-radius: 1rem;
    position: relative;
}

.chat:after {
    content : "";
    position: absolute;
    margin: 0 auto;
    left: 5%;
    bottom  : -3px;
    height  : 2px;
    width   : 90%;
    border-bottom: 2px solid var(--tertiary);
}

.chat:hover {
    background-color: #fff8ef;
    box-shadow: 0 0 5px var(--tertiary);
    border-radius: 1rem;
    z-index: 10;
}

.current-chat {
    background-color: var(--primary);
    box-shadow: 0 0 2px var(--tertiary);
    border-radius: 1rem;
}

.current-chat:hover {
    background-color: var(--primary);
    box-shadow: 0 0 2px var(--tertiary);
    border-radius: 1rem;
}

.inbox-end {
    height: 2rem;
    margin-top: 5px;
    padding: 0.5rem;
    text-align: center;
    align-content: center;
    font-size: small;
    color: var(--tertiary);
}

.chat img {
    height: 3rem;
}

.chat-content {
    margin: 0 1rem;
    height: 4rem;
}

.chat-content h4 {
    margin: 0;
}

.chat-content p {
    margin: 0;
    font-size:small;
}

.chat > p {
    background-color: var(--primary);
    border-radius: 0.75rem;
    text-align: center;
    padding: 0.1rem;
    height: 1.3rem;
    min-width: 1.3rem;
}

main.inbox-main ::-webkit-scrollbar {
    width: 20px;
}

main.inbox-main ::-webkit-scrollbar-track {
    background-color: transparent;
}

main.inbox-main ::-webkit-scrollbar-thumb {
    background: var(--primary);
    border-radius: 20px;
    border: 6px solid transparent;
    background-clip: content-box;
}

main.inbox-main ::-webkit-scrollbar-thumb:hover {
    background-color: #efdab4cd;
}

.empty-msg-inbox {
    border-left: 2px solid var(--tertiary);
    text-align: center;
    height: 100%;
    align-content: center;
    font-weight: bold;
    color: var(--tertiary);
    i {
        font-size: 6rem;
        color: var(--tertiary);
    }
    p{
        margin: 0;
    }
}


/* CHECKOUT PAGE */

.collapsible {
    width: 100%;
    background-color: var(--secondary);
    border: none;
}

.buy-form label {
    padding: 0.5rem;
    input[type="text"] {
        margin-left: 4rem;
        transition-duration: 100ms;
    }
}

.next, .confirm {
    margin: 0.5rem auto;
    border: none;
    border-radius: 0.5rem;
    background-color: var(--accent-secondary);
    font-size: large;
    font-weight: bold;
    padding: 0.5rem 1rem;
}

.buy-form {
    background-color: var(--primary);
    padding: 0 6rem;
    border-radius: 0 0 1rem 1rem;
    max-height: 0;
    transition-duration: 500ms;
}

.checkout li > button {
    height: 4rem;
    font-weight: bold;
    font-size: large;
    border-top: 2px solid var(--tertiary);
    border-radius: 1rem;
}

.checkoutSum {
    height: fit-content;
    background-color: var(--secondary);
    border-top: 2px solid var(--tertiary);
    padding: 1rem 2rem;
    border-radius: 1rem;
    margin-left: 1rem;
    margin-top: 1rem;
}

.checkoutSum .sum-price {
    border-top: 2px solid var(--tertiary);
}

/* VERTICAL PROGRESS BAR */

.state {
    font-family: 'Carrois Gothic SC', sans-serif;
    font-size: 1rem;
    padding-left: 3rem;
    list-style: none;
}

.state li {
    counter-increment: list;
}

.item-track .state li:not(:last-child) {
    padding-bottom: 20px;
}

.state li::before {
    content: '';
    height: 100%;
    border-left: 2px dashed var(--accent-primary);
}

.state li.done::before {
    content: '';
    height: 100%;
    border-left: 2px solid var(--accent-primary);
}

.checkout .state li > button::before, .item-track .state li::after{
    content: '';
    width: 1rem;
    height: 1rem;
    border: 2px solid #c4c2ca;
    border-radius: 100%;
    background-color: #FFF;
}

.item-track .state li.done::after, .checkout .state li.done > button::before {
    content: "✔";
    font-size: 13px;
    color: #FFF;
    text-align: center;
    border: 2px solid var(--accent-primary);
    background-color: var(--accent-primary);
}

.item-track .state li.current::after, .checkout .state li.current > button::before {
    content: counter(list);
    padding-top: 1px;
    width: 1.2rem;
    height: 1.2rem;
    left: -2.3rem;
    font-size: 0.9rem;
    text-align: center;
    color: var(--accent-primary);
    border: 2px solid var(--accent-primary);
}

.item-track #contact-seller {
    background-color: var(--accent-secondary);
    width: 50%;
    min-width: 8rem;
    border-radius: 1rem;
    padding: 0.5rem;
    border-style: none;
    color: var(--accent-primary);
}

.new-item {
    text-align: center;
    width: 100%;
    background-color: var(--secondary);
    border: none;
    border-radius: 1rem;
    text-decoration: none;
    color: black;
}


#messages article{
    border-radius: 6px;
    backdrop-filter: blur(5px);
    opacity: 0;
    padding: 10px 8px;
    i {
        padding-right: 5px;
    }
}
#messages .error {
    background-color: var(--error-background);
    color: var(--error-primary);
}

#messages .success {
    background-color: var(--success-background);
    color: var(--success-primary);
}

.message-progress {
    position: absolute;
    left: 4px;
    bottom: 4px;
    width: calc(100% - 8px);
    height: 3px;
    transform: scaleX(0);
    transform-origin: left;
    border-radius: inherit;
}

.error .message-progress {
    background: linear-gradient(to right, var(--error-background), var(--error-primary));
}

.confirmation .message-progress {
    background: linear-gradient(to right, var(--confirm-background), var(--accent-primary));
}

.confirmation {
    margin: 0 0.5rem 0 0;
    position: relative;
    border-radius: 0.5rem;
    button {
        background-color: white;
        border-style: none;
        padding-bottom: 0.5rem;
        border-radius: 0.5rem;
        i {
            padding-bottom: 1rem;
        }
    }
}

.success .message-progress {
    background: linear-gradient(to right, var(--success-background), var(--success-primary));
}

.searchresult {
    margin-bottom: 1rem;
    .item {
        transition: 0.5s all;
        img {
            transition: 0.5s all;
        }
    }
}

.searchresult .item:hover {
    transform: scale(1.05, 1.05);
    img {
        box-shadow: 0 0 5px var(--tertiary);
    }
}


.price-input label {
    flex-grow: 1;
    width: min-content;
    input {
        width: 70%;
    }
}

.searchPage .items {
    padding: 0 1rem;
}

.navOption {
    padding: 0.5rem;
    margin: 0.5rem;
    border-style: none;
    border-radius: 0.5rem;
    background-color: var(--secondary);
}

#messages p {
    margin: 0;
    padding: 0;
}

.index-main .items {
    margin: 0;
    width: 100%;
    padding: 0 20px;
    box-sizing: border-box;
}

.index-main .items::-webkit-scrollbar {
    width: 20px;
}

.index-main .items::-webkit-scrollbar-track {
    background-color: transparent;
}

.index-main .items::-webkit-scrollbar-thumb {
    background: var(--primary);
    border-radius: 20px;
    border: 6px solid transparent;
    background-clip: content-box;
}

.index-main .items::-webkit-scrollbar-thumb:hover {
    background-color: #efdab4cd;
}

.index-main .items .item {
    width: 200px;
    height: 200px;
    min-width: 200px;
    border-radius: 20px;
    overflow: hidden;
    margin: 10px 5px;
    transition: 1000ms all;
    transform-origin: center;
    position: relative;
    border-style: solid;
    border-color: var(--secondary);
}

.index-main .items .item img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-style: none;
}

.index-main .items .item .item-info {
    background: linear-gradient(
            to top,
            rgba(0, 0, 0, 0.9) 0%,
            rgba(0, 0, 0, 0) 100%
    );
    font-size: 10px;
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 165px 10px 10px;
}

.index-main .items .item .item-info:hover {
    opacity: 1;
}

.index-main .items .item .item-info p {
    color: #fff;
    margin: 5px 0;
    font-size: 0.8rem;
    max-width: 100px;
}

#show-more {
    float: right;
    text-align: right;
    padding-right: 20px;
    color: black;
    text-decoration: none;
    display: flex;
    justify-content: right;
    align-items: center;
    i {
        transition: 1000ms all;
    }
}

#show-more:hover {
    i {
        margin-left: 0.5rem;
    }
}

a {
    text-decoration: none;
    color: inherit;
}

/* saleInfo */
@media print {
    /* All your print styles go here */
    header {
        display: none !important;
    }
    #messages {
        display: none !important;
    }
    main {
        margin: 0 !important;
    }
    footer {
        display: none !important;
    }
    @page {
        @bottom-left {
            content: none;
        }
        @bottom-left-corner {
            content: none;
        }
        size: A5 portrait;
        margin: 0;
    }
}

.sale-info-main {
    align-items: center;
}

.shipInfo {
    border-bottom: 2px solid black;
    border-top: 2px solid black;
    padding: 2rem;
    margin-bottom: 2rem;
}

.profile-picture {
    border-radius: 100%;
}

/* NEW CATEGORY */

.new-tags {
    margin-left: 2rem;
}
.newCategoryPage form > label input[type=text], .new-tag > label input[type=text] {
    margin-left: 1rem;
}
.tag-options label {
    margin: 0.2rem;
    padding: 0;
    input {
        margin-left: 0;
    }
}
.tag-options i {
    padding: 0;
}


.star-review{
    position: relative;
    flex-grow: 1;
    min-width: 8em;
    max-width: 20%;
    height: 2rem;
    padding: 0 1rem;
    transform: rotateY(180deg);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0 ;
}

.star-review input{
    display: none;
}

.star-review  label  {
    aspect-ratio: 1;
    width: 100%;
    transition-duration: 0.1s;
    background: rgba(25, 25, 25, 0.56);
    clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
}

.star-review input:checked ~ label {
    background: #E3C087ED;
}

.star-review input:hover ~ label {
    background: rgba(204, 167, 106, 0.93);
}

.write-review {
    height: 2rem;
    padding: 0 0.5rem;
    border: 2px solid rgba(25, 25, 25, 0.56);
    border-radius: 2rem;
    background-color: var(--secondary);
    flex-grow: 1;
}
.new-review button {
    height: 2.2rem;
    width: 2.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-width: 0;
    background-color: rgba(25, 25, 25, 0.3);
    border-radius: 3rem;
    i {
        margin-left: 3px;
    }
}

.new-review {
    padding:1rem;
}

/* LOADER */
.loader {
    height: 14px;
    margin: calc((10rem - 14px) / 2) calc((10rem - 56px) / 2);
    aspect-ratio: 4;
    --_g: no-repeat radial-gradient(farthest-side,var(--accent-secondary) 90%,#fff);
    background:
            var(--_g) left,
            var(--_g) right;
    background-size: 25% 100%;
    display: grid;
}
.loader:before,
.loader:after {
    content: "";
    height: inherit;
    aspect-ratio: 1;
    grid-area: 1/1;
    margin: auto;
    border-radius: 50%;
    transform-origin: -100% 50%;
    background: var(--accent-secondary);
    animation: l49 1s infinite linear;
}
.loader:after {
    transform-origin: 200% 50%;
    --s:-1;
    animation-delay: -.5s;
}

@keyframes l49 {
    58%,
    100% {transform: rotate(calc(var(--s,1)*1turn))}
}