@import url('https://fonts.googleapis.com/css2?family=Carrois+Gothic+SC&display=swap');

:root {
    --error-background: rgba(232, 133, 127, 0.66);
    --error-primary: #5a1410;
    --success-background: rgba(169, 232, 127, 0.66);
    --success-primary: #105a11;
    --confirm-background: rgba(243, 223, 169, 0.66);
    --primary: #F2E8D5;
    --secondary: #F1F1F1;
    --tertiary: #D9D9D9;
    --quaternary: #FAFAFA;
    --semi-transparent: #FFFFFF99;
    --accent-primary: #6A4806;
    --accent-secondary: #E5CFA4;
    --accent-tertiary: #FFF8EF;
    --scroll-background-primary: #EFDAB4CD;
    --scroll-hover-primary: #E1C19FCC;
    --star-background: #E3C087ED;
    --star-hover: #CCA76AED;
    --button-transparent: #C8C8C873;
    --scroll-background-secondary: #19191933;
    --scroll-hover-secondary: #1919194C;
}

main {
    margin: 7rem 0 2rem;
}

main.new-main, main.edit-profile-main, main.new-category-main, main.admin-main {
    margin: 0;
    padding: 7rem 0 2rem;
    background-color: var(--primary);
}

main.search-main {
    margin: 0;
}

p, .paragraph {
    word-break: break-word;
}

body {
    margin: 0;
    font-family: "Carrois Gothic SC", serif;
    min-height: 100dvh;
}

body > header {
    width: 100%;
    height: 5rem;
    background-color: var(--primary);
}

select, input[type="text"], input[type="number"], input[type="password"], input[type="email"], input[type="tel"] {
    padding: 0.5rem;
    background-color: var(--secondary);
    border-style: none;
    border-radius: 0.5rem;
}

select:focus-visible, input[type="text"]:focus-visible, input[type="number"]:focus-visible, input[type="password"]:focus-visible, input[type="email"]:focus-visible, input[type="tel"]:focus-visible {
    outline: var(--tertiary) solid 2px;
}

.search-container {
    background-color: white;
    border-radius: 30px;
    border-color: black;
    border-width: 2px;
    border-style:solid;
    padding-left: 0.5rem;
    padding-right: 0.3rem;
    label[form=searchbar] {
        width: 100%;
    }
}

.filter input[type="text"], .filter input[type="number"], .filter select, .currency {
    background-color: var(--quaternary);
    border-style: none;
    border-radius: 0.5rem;
}

input[type="checkbox"] {
    appearance: none;
    background-color: var(--secondary);
    color: currentColor;
    width: 0.8rem;
    height: 0.8rem;
    border: 0.1rem solid var(--accent-primary);
    border-radius: 0.2rem;
}

input[type="checkbox"]::before {
    content: '';
    font-size: 0.5rem;
    text-align: center;
    color: white;
    width: 0.5rem;
    height: 0.5rem;
    box-shadow: inset 1em 1em var(--accent-primary);
    background-color: CanvasText;
    clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
}

#cart, #heart, #user-pic {
    height: 2rem;
    padding: 0.5rem;
}

#login {
    padding-right: 1rem;
    padding-left: 0.5rem;
    color: black;
    text-decoration: none;
}

#logo {
    height: 5rem;
}

input[type="search"] {
    border-width: 0;
    outline: none;
    width: 100%;
}

input[type="search"]::-webkit-search-cancel-button {
    -webkit-appearance: none;
    height: 1em;
    width: 1em;
    border-radius: 50em;
    box-shadow: inset 1em 1em var(--accent-primary);
    clip-path: polygon(20% 0%, 0% 20%, 30% 50%, 0% 80%, 20% 100%, 50% 70%, 80% 100%, 100% 80%, 70% 50%, 100% 20%, 80% 0%, 50% 30%);
    background-size: contain;
    opacity: 0;
}

input[type="search"]:focus::-webkit-search-cancel-button {
    opacity: 0.8;
}

.search-btn {
    background-color: transparent;
    border-width: 0;
    padding-left: 0;
    padding-right: 0;
}

button {
    font-family: "Carrois Gothic SC", serif;
}


.dropdown-content {
    background-color: var(--tertiary);
    color: black;
    border: none;
    cursor: pointer;
    height: 2rem;
    border-radius: 30px;
    font-family: "Carrois Gothic SC", sans-serif;
}

.dropdown-content option {
    color: black;
    font-family: "Carrois Gothic SC", sans-serif;
    padding: 12px 16px;
}

body > footer {
    padding: 0.5em;
    margin-bottom: 0;
    background-color: var(--primary);
    color: black;
    text-align: center;
}

h2 {
    text-align: center;
}

header > h2, h2.name {
    text-align: left;
}

main > h2 {
    margin-top: 2rem;
}

/* ITEM CARD */

.item-info {
    color: black;
    p {
        margin: 0.2rem;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
}

.item {
    text-decoration: none;
    text-align: center;
}

.item img{
    width: 10rem;
    height: 10rem;
    border-radius: 0.5rem;
    border-style: solid;
    border-color: var(--tertiary);
}

/* ITEM PAGE */

.slides, .item-images, .image-slide {
    width: 25rem;
    height: 25rem;
    border-radius: 3rem;
}

.item-images {
    margin-right: 3rem;
}

.userProfile {
    color: black;
    margin-right: 3rem;
    img {
        height: 2rem;
        margin-left: 0.5rem;
    }
}

.sendMessage-btn {
    background-color: var(--primary);
    border-radius: 1rem;
    padding: 0.5rem;
    margin-top:0.5rem;
    border-style: none;
    color: var(--accent-primary);
}

.item-main header {
    height: 4rem;
    width: 100%;
}

.edit img, .item-main header > * {
    height: 2rem;
    margin: 1rem 0;
}

.like {
    text-align: center;
    button {
        height: 2rem;
    }
    p {
        margin: 0;
        font-weight: bold;
        font-size: small;
    }
}

.price {
    font-weight: bold;
    text-align: right;
}

.item-main .price {
    font-size: 2rem;
}

.Buy {
    background-color: transparent;
    border-style: none;
    color: var(--accent-primary);
    padding: 0;
    margin-left: 5px;
}

.buy-item {
    background-color: var(--primary);
    border-radius: 1rem;
    padding: 0.5rem;
    height: 2rem;
}

.item-tags {
    padding: 0;
    margin: 0;
}

.item-tags li {
    font-size: 0.7rem;
    margin-right: 0.5rem;
    border-style: solid;
    border-radius: 0.5rem;
    border-color: grey;
    padding: 0.3rem;
    list-style: none;
    height: 1rem;
    width: max-content;
    margin-top: 0.5rem;
}

.notSelectable {
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}

.slider-btns i{
    width: 1.5rem;
    height: 1.5rem;
    font-size: 1.5rem;
    background: var(--button-transparent);
    border-radius: 100%;
    color: white;
    cursor: pointer;
    text-align: center;
}

.slider-btns {
    width: 25rem;
}

.dots{
    width: 100%;
    .dot{
        width: 0.5rem;
        height: 0.5rem;
        background-color: white;
        opacity: .2;
        border-radius: 50%;
        cursor: pointer;
    }
}

.edit {
    background: none;
    border: none;
}

/* CART PAGE */

.cart-main .checkout {
    border-style: none;
    color: white;
    background-color: black;
    border-radius: 0.5rem;
    padding: 1rem;
    margin: 1rem auto;
    width: 100%;
}

.checkout {
    min-width: 60%;
}

.cart-checkout-main {
    margin-left: 2rem;
    margin-right: 2rem;
}

.seller {
    margin: 2rem 3rem;
}

.seller-info {
    margin: 0;
    padding:0.5rem 0;
    border-top-style: solid;
    border-bottom-style: solid;
    img {
        height: 2rem;
    }
    p {
        margin: 0;
    }
}

.cart-main .item {
    margin: 1rem;
}

.cart-main .item-info {
    width: 100%;
    margin-left: 1rem;
}

.sum {
    height: fit-content;
    background-color: var(--secondary);
    padding: 0 1rem;
    margin-left: 1rem;
    margin-top: 1rem;
}

.seller-items {
    border-bottom-style: solid;
}

.num-items {
    text-align: center;
    font-weight: normal;
}

/* NEW ITEM PAGE */

.newItemPage, .edit-profile, .newCategoryPage {
    background-color: var(--primary);
    form {
        background-color: white;
        padding: 1rem;
        margin: 0 1rem;
        border-radius: 1rem;
    }
    button {
        width: 10rem;
        margin: 1.5rem auto auto auto;
        border-style: none;
        border-radius: 0.5rem;
        background-color: var(--primary);
    }
}

.newItemPage form > *, .newItemPage form .tags *, .edit-profile form > *, .newCategoryPage form * {
    padding: 0.5rem;
}

.item-track img {
    width: 20rem;
    height: 20rem;
    margin: 0 auto;
}

.uploader {
    opacity: 0;
    height: 100%;
    width: 100%;
    cursor: pointer;
    + * {
        cursor: pointer;
    }
}

.upload-icon, .delete-icon {
    opacity: 0.5;
}

.photo-upload {
    opacity: 0.75;
    box-shadow: 0 8px 6px -6px;
}

.photo-upload.over {
    outline: 5px dotted var(--accent-primary);
    outline-offset: 5px;
}

.photo-upload {
    width: 200px;
    height: 200px;
    background-color: var(--tertiary);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0.5em;
    padding: 0.5em;
    border-radius: 2rem;
    i {
        width: 100%;
        height: 100%;
        text-align: center;
    }
    h5 {
        text-align: center;
        width: 100%;
        font-size: medium;
    }
}

.edit-profile .photo-upload{
    border-radius: 100%;
}

.item-image-uploads h4 {
    width: 100%;
}

.main-photo-upload {
    box-shadow: 0 0 0 5px var(--primary);
}

/* TRACK ITEM */
#print {
    background-color: var(--accent-secondary);
    width: 50%;
    border-radius: 1rem;
    padding: 0.5rem;
    margin-top:0.5rem;
    border-style: none;
    color: var(--accent-primary);
}

/* SEARCH PAGE */

.searchPage .item-info, .favorite-main .item-info, .display-item .item-info {
    width: 10rem;
}

.searchPage  h2 {
    margin:0;
}

.searchPage {
    margin-top: 5rem;
}

.filter {
    padding: 1rem 1rem 2rem;
    background-color: var(--primary);
    margin-right: 1rem;
    width: auto;
    max-width: 20rem;
}

.category-search {
    text-align: center;
}

#open-filters {
    width: 3rem;
    background-color: var(--tertiary);
    border-radius: 0 2rem 2rem 0;
    height: 3rem;
    border: none;
}

#close-filters {
    background-color: transparent;
    border: none;
}

.category-box:not(.empty) {
    border: 2px solid var(--accent-primary);
    border-radius: 1rem;
    padding: 0.5rem;
    margin-top: 1rem;
    > p {
        margin: 0;
        padding: 0 0.5rem;
        text-align: center;
        word-break: normal;
        text-overflow: ellipsis;
        white-space: nowrap;
        max-width: 80%;
        background-color: var(--primary);
    }
}

.categories > label .paragraph {
    margin: 0;
}

.filter input[type="text"] {
    width: 100%;
}

/* USER PAGE */

.user-main, .profile-main{
    padding: 0 3rem;
}

.user {
    margin-bottom: 2rem;
    img {
        width: 10rem;
        height: 10rem;
    }
}

.feedback {
    height: 20rem;
    background-color: var(--tertiary);
    margin-right: 1rem;
    border-radius: 1rem;
    > p {
        text-decoration:underline;
    }
}

.feedback-sum {
    border-bottom-style: solid;
    border-bottom-color: black;
    margin-bottom: 1rem;
    padding: 0 1rem;
    .stars {
        height: 24px;
        p {
            margin: 0;
            text-align: center;
            font-size: small;
            font-weight: bold;
        }
    }
}

.user-main .items, .profile-main .items {
    width: 24rem;
}

.user-details {
    a {
        background-color: var(--secondary);
        padding: 0.5rem 1rem;
        border-radius: 0.5rem;
        line-height: 2.4rem;
    }
    i {
        margin-right: 0.2rem;
    }
}

.profile-main .display-item > a {
    background-color: var(--secondary);
    padding: 0.5rem 0;
    border-radius: 0.5rem;
    i {
        margin-right: 0.2rem;
    }
}

.comment {
    background-color: var(--secondary);
    margin: 0 1rem 1rem;
    border-radius: 1rem;
}

.comment img {
    width: 3rem;
    margin: 0.5rem;
}

.comment-box > p {
    text-align: center;
}

.comment-box::-webkit-scrollbar {
    width: 20px;
}

.comment-box::-webkit-scrollbar-track {
    background-color: transparent;
}

.comment-box::-webkit-scrollbar-thumb {
    background: var(--scroll-background-secondary);
    border-radius: 20px;
    border: 6px solid transparent;
    background-clip: content-box;
}

.comment p{
    padding-top: 0.5rem;
    margin: 0;
}
.uname {
    font-weight: bold;
}

.content {
    padding-left: 3.5rem;
    padding-bottom: 0.5rem;
    padding-right: 0.5rem;
    word-break: break-word;
}

.display-item .navbar {
    text-align: center;
}

.navOption.my {
    border: 2px solid var(--tertiary);
}

/* LOGIN AND REGISTER */
.login, .register {
    background-color: var(--primary);
    text-align: center;
    margin: 0 auto;
    border-radius: 10px;
    box-shadow: 5px 5px 10px var(--tertiary);
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
    h2 {
        margin-top: 0;
    }
    form > * {
        margin: 0.5rem auto;
    }
    label {
        width: 100%;
    }
    button {
        border-style: none;
        color: white;
        background-color: black;
        border-radius: 0.5rem;
        padding: 0.5rem;
        width: 50%;
        box-shadow: 0 0 5px var(--tertiary);
    }
    input {
        border-style: none;
        border-radius: 0.5rem;
        background-color: var(--quaternary);
        padding: 0.5rem;
        text-align: center;
        width: 65%;
        box-shadow: 0 0 5px var(--tertiary);
    }
}

i {
    color: black;
}

#suggestions {
    width: 30%;
    background-color: var(--secondary);
    margin-top: 3.2rem;
    margin-left: 7rem;
    border-radius: 0.5rem;
}

#suggestions a {
    padding: 10px;
}

.login-main {
    width: 40%;
    max-width: 30rem;
    margin-right: auto;
    margin-left: auto;
    perspective: 80rem;
    h3 {
        margin: 1rem 0 0;
        text-align: center;
        span {
            margin: 1rem;
        }
    }
}

.flipLoginRegister {
    width: 100%;
    height: 26rem;
    text-align: center;
}

.login {
    margin: 3rem 0;
    height: 20rem;
}

.toggleLoginRegister {
    height: 1rem;
    width: 4rem;
    text-align: center;
    border-radius: 1rem;
    margin: 1rem;
    background-color: var(--primary);
}

.toggleLoginRegister:before {
    box-shadow: 0 0 4px var(--tertiary);
    font-family: "Material Symbols Outlined", serif;
    content: "\f1e2";
    font-size: larger;
    font-weight: bolder;
    height: 2rem;
    width: 2rem;
    border-radius: 0.4rem;
    line-height: 2rem;
    text-align: center;
    background-color: var(--primary);
}

/* IMBOX PAGE */

.chat-inbox {
    margin-left: 3rem;
    margin-right: 5rem;
}

.chat-page {
    margin-right: 3rem;
}

.message-header{
    margin-bottom: 1rem;
    font-weight: bold;
}

.message-header .item-info {
    margin: 0;
}

.item-msg-img {
    max-height: 3rem;
    max-width: 3rem;
    border: 2px solid var(--tertiary);
    border-radius: 0.5rem;
    margin-right: 1rem;
}

.addressee-img {
    max-height: 3rem;
    max-width: 3rem;
    margin-left: 1rem;
}

.msg-inbox {
    background-color: var(--quaternary);
    border: 2px solid var(--tertiary);
    border-radius: 1rem;
}

.scroll {
    height: 54dvh;
}

.chat-rooms {
    height: 54dvh;
    padding: 0.2rem;
}

.received-message {
    max-width: 70%;
    width: fit-content;
    background-color: var(--primary);
    border-radius: 1rem;
    padding: 0.8rem;
    margin-left: 2rem;
    margin-top: 1rem;
    p {
        margin: 0;
    }
    time {
        font-size: small;
    }
}

.sent-message {
    max-width: 70%;
    background-color: var(--tertiary);
    border-radius: 1rem;
    padding: 0.8rem;
    margin-right: 2rem;
    margin-top: 1rem;
    p {
        margin: 0;
    }
    time {
        font-size: small;
    }
}

.sent-message:has( + .sent-message) {
    margin-top: 0.2rem;
    border-top-right-radius: 0.5rem;
}

.sent-message + .sent-message {
    border-bottom-right-radius: 0.5rem;
}

.received-message:has( + .received-message) {
    margin-top: 0.2rem;
    border-top-left-radius: 0.5rem;
}

.received-message + .received-message {
    border-bottom-left-radius: 0.5rem;
}

.input-group {
    height: 3rem;
    padding-top: 2px;
}

.input-group input {
    height: 2rem;
    padding: 0 0.5rem;
    border: 2px solid var(--primary);
    border-radius: 2rem;
    margin: 0 1rem;
}

.input-group button {
    height: 2.4rem;
    width: 2.4rem;
    border-width: 0;
    background-color: var(--primary);
    border-radius: 3rem;
    margin-right: 1rem;
}

.chat {
    height: 4rem;
    margin-top: 5px;
    padding: 0.5rem;
    border-radius: 1rem;
}

.chat:after {
    content : "";
    margin: 0 auto;
    height  : 2px;
    width   : 90%;
    border-bottom: 2px solid var(--tertiary);
}

.current-chat {
    background-color: var(--primary);
    box-shadow: 0 0 2px var(--tertiary);
    border-radius: 1rem;
}

.inbox-end {
    height: 2rem;
    margin-top: 5px;
    padding: 0.5rem;
    text-align: center;
    font-size: small;
    color: var(--tertiary);
}

.chat img {
    height: 3rem;
}

.chat-content {
    margin: 0 1rem;
    height: 4rem;
}

.chat-content h4 {
    margin: 0;
}

.chat-content p {
    margin: 0;
    font-size:small;
}

.chat > p {
    background-color: var(--primary);
    border-radius: 0.75rem;
    text-align: center;
    padding: 0.1rem;
    height: 1.3rem;
    min-width: 1.3rem;
}

.inbox-main ::-webkit-scrollbar {
    width: 20px;
}

.inbox-main ::-webkit-scrollbar-track {
    background-color: transparent;
}

.inbox-main ::-webkit-scrollbar-thumb {
    background: var(--primary);
    border-radius: 20px;
    border: 6px solid transparent;
    background-clip: content-box;
}

.empty-msg-inbox {
    border-left: 2px solid var(--tertiary);
    text-align: center;
    height: 100%;
    font-weight: bold;
    color: var(--tertiary);
    i {
        font-size: 6rem;
        color: var(--tertiary);
    }
    p{
        margin: 0;
    }
}

/* CHECKOUT PAGE */

.collapsible {
    width: 100%;
    background-color: var(--secondary);
    border: none;
}

.buy-form label {
    padding: 0.5rem;
    input[type="text"] {
        margin-left: 4rem;
    }
}

.next, .confirm {
    margin: 0.5rem auto;
    border: none;
    border-radius: 0.5rem;
    background-color: var(--accent-secondary);
    font-size: large;
    font-weight: bold;
    padding: 0.5rem 1rem;
}

.buy-form {
    background-color: var(--primary);
    padding: 0 6rem;
    border-radius: 0 0 1rem 1rem;
    max-height: 0;
}

.checkout li > button {
    height: 4rem;
    font-weight: bold;
    font-size: large;
    border-top: 2px solid var(--tertiary);
    border-radius: 1rem;
}

.checkoutSum {
    height: fit-content;
    width: max-content;
    background-color: var(--secondary);
    border-top: 2px solid var(--tertiary);
    padding: 1rem 2rem;
    border-radius: 1rem;
    margin-left: 1rem;
    margin-top: 1rem;
}

.checkoutSum .sum-price {
    border-top: 2px solid var(--tertiary);
}

/* VERTICAL PROGRESS BAR */

.state {
    font-family: 'Carrois Gothic SC', sans-serif;
    font-size: 1rem;
    padding-left: 3rem;
    list-style: none;
}

.state li {
    counter-increment: list;
}

.item-track .state li:not(:last-child) {
    padding-bottom: 20px;
}

.item-track {
    margin-left: 7rem;
    margin-right: 2rem;
}

.item-track #delivery-date {
    text-align: center;
    p {
        margin: 0;
    }
    :first-child {
        margin-right: 1rem;
    }
    input {
        width: 5rem;
    }
    button {
        background-color: var(--accent-secondary);
        border-radius: 1rem;
        border-style: none;
    }
}

.state li::before {
    content: '';
    height: 100%;
    border-left: 2px dashed var(--accent-primary);
}

.state li.done::before {
    content: '';
    height: 100%;
    border-left: 2px solid var(--accent-primary);
}

.checkout .state li > button::before, .item-track .state li::after{
    content: '';
    width: 1rem;
    height: 1rem;
    border: 2px solid var(--tertiary);
    border-radius: 100%;
    background-color: white;
}

.item-track .state li.done::after, .checkout .state li.done > button::before {
    content: "✔";
    font-size: 13px;
    color: white;
    text-align: center;
    border: 2px solid var(--accent-primary);
    background-color: var(--accent-primary);
}

.item-track .state li.current::after, .checkout .state li.current > button::before {
    content: counter(list);
    padding-top: 1px;
    width: 1.2rem;
    height: 1.2rem;
    font-size: 0.9rem;
    text-align: center;
    color: var(--accent-primary);
    border: 2px solid var(--accent-primary);
}

#contact-seller {
    background-color: var(--accent-secondary);
    width: 50%;
    min-width: 8rem;
    margin-top: 0;
    color: var(--accent-primary);
}

.new-item {
    text-align: center;
    width: 100%;
    background-color: var(--secondary);
    border: none;
    border-radius: 1rem;
    text-decoration: none;
    color: black;
}

#messages {
    width: max-content;
    margin-left: auto;
    margin-right: auto;
}

#messages article{
    border-radius: 6px;
    backdrop-filter: blur(5px);
    opacity: 0;
    padding: 10px 8px;
    visibility: hidden;
    align-items: center;
    margin-top: 0.5rem;
    i {
        padding-right: 5px;
    }
}

#messages .error {
    background-color: var(--error-background);
    color: var(--error-primary);
}

#messages .success {
    background-color: var(--success-background);
    color: var(--success-primary);
}

.message-progress {
    width: calc(100% - 8px);
    height: 3px;
    border-radius: inherit;
}

.error .message-progress {
    background: linear-gradient(to right, var(--error-background), var(--error-primary));
}

.success .message-progress {
    background: linear-gradient(to right, var(--success-background), var(--success-primary));
}

.confirmation .message-progress {
    background: linear-gradient(to right, var(--confirm-background), var(--accent-primary));
}

.confirmation {
    border-radius: 0.5rem;
    button {
        background-color: transparent;
        border-style: none;
    }
}

button[name="remove-category"] {
    padding: 0;
    margin: 0;
}

.searchresult {
    margin-top: 4rem;
    margin-bottom: 1rem;
}

.price-input label {
    width: min-content;
    input {
        width: 70%;
    }
}

.searchPage .items {
    padding: 0 1rem;
}

.navOption {
    padding: 0.5rem;
    margin: 0.5rem;
    border-style: none;
    border-radius: 0.5rem;
    background-color: var(--secondary);
}

#messages p {
    margin: 0;
    padding: 0;
}

.index-main .items {
    margin: 0;
    width: 100%;
    padding: 0 20px;
    box-sizing: border-box;
}

.index-main .items::-webkit-scrollbar {
    width: 20px;
}

.index-main .items::-webkit-scrollbar-track {
    background-color: transparent;
}

.index-main .items::-webkit-scrollbar-thumb {
    background: var(--primary);
    border-radius: 20px;
    border: 6px solid transparent;
    background-clip: content-box;
}

.index-main .item {
    width: 200px;
    height: 200px;
    min-width: 200px;
    border-radius: 20px;
    margin: 10px 5px;
    border-style: solid;
    border-color: var(--secondary);
}

.index-main .item img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-style: none;
}

.index-main .item-info {
    background: linear-gradient(
            to top,
            rgba(0, 0, 0, 0.9) 0%,
            rgba(0, 0, 0, 0) 100%
    );
    font-size: 10px;
    opacity: 0;
    padding: 165px 10px 10px;
}

.index-main .item-info p {
    color: white;
    margin: 5px 0;
    font-size: 0.8rem;
    max-width: 100px;
}

#show-more {
    text-align: right;
    padding-right: 20px;
    color: black;
    text-decoration: none;
}

a {
    text-decoration: none;
    color: inherit;
}

/* saleInfo */
@media print {
    /* All your print styles go here */
    header {
        display: none !important;
    }
    #messages {
        display: none !important;
    }
    main {
        margin: 0 !important;
    }
    footer {
        display: none !important;
    }
    @page {
        @bottom-left {
            content: none;
        }
        @bottom-left-corner {
            content: none;
        }
        size: A5 portrait;
        margin: 0;
    }
}

.shipInfo {
    border-bottom: 2px solid black;
    border-top: 2px solid black;
    padding: 2rem;
    margin-bottom: 2rem;
}

.profile-picture {
    border-radius: 100%;
}

/* NEW CATEGORY */

.new-tags {
    margin-left: 2rem;
}

.newCategoryPage form > label input[type=text], .new-tag > label input[type=text] {
    margin-left: 1rem;
}

.tag-options label {
    margin: 0.2rem;
    padding: 0;
    input {
        margin-left: 0;
    }
}

.tag-options i {
    padding: 0;
}

.star-review{
    min-width: 8em;
    max-width: 20%;
    height: 2rem;
    padding: 0 1rem;
}

.star-review  label  {
    aspect-ratio: 1;
    width: 100%;
    background: var(--scroll-hover-secondary);
    clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
}

.star-review input:checked ~ label {
    background: var(--star-background);
}

.write-review {
    height: 2rem;
    padding: 0 0.5rem;
    border: 2px solid var(--scroll-hover-secondary);
    border-radius: 2rem;
    background-color: var(--secondary);
}

.new-review button {
    height: 2.2rem;
    width: 2.2rem;
    border-width: 0;
    background-color: var(--scroll-hover-secondary);
    border-radius: 3rem;
    i {
        margin-left: 3px;
    }
}

.new-review {
    padding:1rem;
}

/* LOADER */

.loader {
    height: 14px;
    margin: calc((10rem - 14px) / 2) calc((10rem - 56px) / 2);
    aspect-ratio: 4;
    --_g: no-repeat radial-gradient(farthest-side,var(--accent-secondary) 90%, white);
    background:
            var(--_g) left,
            var(--_g) right;
    background-size: 25% 100%;
}

.loader:before, .loader:after {
    content: "";
    height: inherit;
    aspect-ratio: 1;
    margin: auto;
    border-radius: 50%;
    background: var(--accent-secondary);
}

.loader-users {
    margin: 0 auto;
    width: 6rem;
    height: 3rem;
    --g1: conic-gradient(from 90deg at left 8px top 8px, transparent 90deg, var(--tertiary) 0);
    --g2: conic-gradient(from -90deg at bottom 8px right 8px, transparent 90deg, var(--tertiary) 0);
    background: var(--g1), var(--g1), var(--g1), var(--g2), var(--g2), var(--g2);
    background-position: left, center, right;
    background-repeat: no-repeat;
}


.user-search {
    margin: 4rem;
    padding: 1rem;
    border-radius: 1rem;
    text-align: center;
    border: 3px solid var(--primary);
    background-color: var(--tertiary);
    input[type="text"]:focus-visible {
        outline: var(--button-transparent) solid 2px;
    }
}

.user-table-header {
    margin-top: 1rem;
    padding: 0 1rem;
    border-radius: 1rem 1rem 0 0;
    background-color: var(--button-transparent);
    box-shadow: 0 0 5px var(--scroll-background-secondary);
    text-align: center;
}

.user-result {
    padding: 1rem;
    border-radius: 0 0 1rem 1rem;
    background-color: var(--secondary);
    box-shadow: 0 0 5px var(--scroll-background-secondary);
}

.user-result .user-details {
    margin: 0.4rem 0;
    img {
        width: 4rem;
        height: 4rem;
        border-radius: 50%;
    }
    .user-info {
        text-align: center;
        p {
            text-overflow: ellipsis;
            white-space: nowrap;
        }
    }
}

.admin-main #curve_chart {
    margin: 0 4rem;
    border-radius: 1rem;
    height: 16rem;
    background-color: white;
}

/* REVIEWED UNTIL HERE -------------------------------------------------------------------------------------------------------*/