.item-uploader {
    /* make it invisible */
    opacity: 0;
    /* make it take the full height and width of the parent container */
    height: 100%;
    width: 100%;
    cursor: pointer;
}

.upload-icon {
    opacity: 0.5;
    transition: opacity 0.3s ease;
    color: rgb(147, 147, 147);
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #bbb;
}

.item-upload {
    opacity: 0.75;
    overflow: hidden;

    box-shadow: 0 8px 6px -6px;
}

/* toggle icon state */
.item-upload:hover .upload-icon {
    opacity: 1;
}

.item-upload {
    width: 200px;
    height: 200px;
    background-color: #0a0a23;
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0.5em;
    padding: 0.5em;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    i {
        position: absolute;
        top: 45%;
        left: 45%;
    }
    h5 {
        position: absolute;
    }
}

section.item-image-uploads {
    display: flex;
    flex-flow: row wrap;
    h4 {
        width: 100%;
    }
    .main-item-upload {
        box-shadow: 0 0 0 5px lightgoldenrodyellow;
    }
}