

body {
    display: flex;
    flex-direction: column;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-grow: 1;
}

body > header {
    display: flex;
    align-items: center;
    justify-content:space-between;
    z-index: 100;
}

.search-container {
    display: flex;
    align-items: center;
    flex-grow: 0.5;
    label[for=searchbar] {
        display: flex;
        align-items: center;
        flex-grow: 1;
    }
}

.search-container form {
    display: flex;
    align-items: center;
    flex-grow: 1;
}

header nav {
    display: flex;
    justify-items: center;
    align-items: center;
}

.searchbtn {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nav {
    display: flex;
    align-items: center;
}

.items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}



/* ITEM CARD */

.item-main .item-info {
    display: flex;
    justify-content: space-between;
}



/* ITEM PAGE */

.itemPage {
    display: grid;
    grid-template-columns:  auto auto auto;
    grid-template-rows:  auto auto auto;
    grid-template-areas: "picture picture header"
                            "picture picture description"
                            "picture picture priceSection"
                            "sendMessage userProfile tags";
    padding: 1rem 3rem 0 3rem;
}


.itemPage .item-images {
    grid-area: picture;
}

.itemPage .priceSection {
    grid-area: priceSection;
    display: flex;
    justify-content: space-between;
}

.itemPage .description {
    grid-area: description;
}

.itemPage .sendMessage {
    grid-area: sendMessage;
}

.itemPage .buy-item {
    display: flex;
    align-items: center;
}

.itemPage .itemTags {
    grid-area: tags;
    display: flex;
    flex-wrap: wrap;
}

.itemPage header {
    grid-area: header;
    display: flex;
    justify-content:space-between;
    h2 {
        flex-grow: 2;
    }
}

.itemPage .userProfile {
    grid-area: userProfile;
    display: flex;
    justify-content: flex-end;
}

.itemPage .itemTags ul {
    display: flex;
}

.slides {
    position: absolute;
    object-fit: cover;
}

.item-images{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.image-slide{
    display: flex;
    align-items: center;
    position: relative;
    overflow: hidden;
}

.slider-btns{
    position: absolute;
    z-index: 2;
    width:24rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.slider-btns span{
    padding: 0.5rem 0.6rem;
    font-size: 1rem;
    background: rgba(255, 255, 255, 0.151);
    border-radius: 100%;
    color: white;
    cursor: pointer;
}
.dots{
    position: absolute;
    width: 100%;
    top: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .5rem;
    z-index: 1;
}

.dots .dot{
    width: 0.5rem;
    height: 0.5rem;
    background-color: white;
    opacity: .2;
    border-radius: 50%;
    cursor: pointer;
}

/* CART PAGE */

.cartPage .Buy {
    justify-content: center;
}

.cartPage .seller {
    display: grid;
    grid-template-columns:  2fr 1fr;
    grid-template-rows:  auto auto;
    grid-template-areas: "seller-info seller-info"
                            " seller-items sum";
}

.cartPage .seller-info {
    grid-area: seller-info;
    display: flex;
    align-items: center;
}

.cartPage .item {
    display: flex;
}

.cartPage .item-info {
    display:flex;
    flex-direction: column;
    justify-content: space-between;
}

.cartPage .sum {
    grid-area: sum;
    display: flex;
    flex-direction: column;
    justify-content: end;
}

.cartPage .seller-items {
    grid-area: seller-items;
}

.cartPage .sum-price {
    display: flex;
    justify-content: space-between;
}

/* NEW ITEM PAGE */

main .newItemPage form {
    display: flex;
    flex-direction: column;
}

/* SEARCH PAGE */

.searchPage .item-info {
    display: flex;
    justify-content: space-between;
}

.searchPage .options {
    display: flex;
    flex-direction: column;
}

main .searchPage{
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto;
    grid-template-areas: "filter items";
}

.searchPage .filter {
    grid-area: filter;
}

.searchPage .items {
    grid-area: items;
    display: flex;
    flex-wrap: wrap;
}

/* USER PAGE */

main .userPage{
    display: grid;
    grid-template-columns:  1fr auto;
    grid-template-rows:  2fr 3fr;
    column-gap: 10rem;
    grid-template-areas: "user items"
                         "feedback items";
}

.userPage .user  {
    grid-area: user;
    display: flex;
}

.userPage .feedback {
    grid-area: feedback;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.userPage .items {
    grid-area: items;
    display: flex;
    flex-wrap: wrap;
}

.userPage .user img {
    float: left;
}

.userPage .comment img {
    float: left;
}

/* LOGIN AND REGISTER */
.login form, .register form {
    display: flex;
    flex-direction: column;
}