main {
    background-color: #F2E8D5;
}

main form {
    background-color: white;
    padding: 1rem;
    margin: 0 1rem;
    display: flex;
    flex-direction: column;
}
main h2 {
    text-align: center;
}

main form > * {
    padding: 0.5rem;
}

input[type=text], input[type=number], select  {
    background-color: #F1F1F1;
    border-style: none;
    border-radius: 0.5rem;
}

input[type=submit] {
    margin-top:1.5rem;
    width: 10rem;
    margin: auto;
    border-style: none;
    border-radius: 0.5rem;
    background-color: #F2E8D5;
}