@import url('https://fonts.googleapis.com/css2?family=Carrois+Gothic+SC&display=swap');

main {
    margin: 7rem 0 2rem;
}

body {
    margin: 0;
    font-family: "Carrois Gothic SC", serif;
    min-height: 100dvh;
}

body > header {
    width: 100%;
    height: 5rem;
    background-color: #F2E8D5;
    position: fixed;
}

.search-container {
    background-color: white;
    border-radius: 30px;
    border-color: black;
    border-width: 1px;
    border-style:solid;
    label[form=searchbar] {
        width: 100%;
    }
}

#cart, #heart, #user-pic {
    height: 2rem;
    padding: 0.5rem;
}

#login {
    padding-right: 1rem;
    padding-left: 0.5rem;
    color: black;
    text-decoration: none;
}

#logo {
    height: 5rem;
}

input[type="search"] {
    border-width: 0;
    outline: none;
    width: 100%;
}

.searchbtn {
    background-color: transparent;
    border-width: 0;
}

.dropbtn img {
    height: 1rem;
}

button {
    font-family: "Carrois Gothic SC", serif;
}


.dropdown-content {
    background-color: #D9D9D9;
    color: black;
    border: none;
    cursor: pointer;
    height: 2rem;
    border-radius: 30px;
    font-family: "Carrois Gothic SC", sans-serif;
}

.dropdown-content option {
    color: black;
    font-family: "Carrois Gothic SC", sans-serif;
    padding: 12px 16px;
}

body > footer {
    padding: 0.5em;
    margin-bottom: 0;
    background-color: #F2E8D5;
    color: black;
    text-align: center;
}

main > h2 {
    text-align: center;
    margin-top: 2rem;
}





/* ITEM CARD */

.items .item-info {
    color: black;
    p {
        margin: 0.2rem; 
    }
    .price {
        font-weight: bold;
        text-align: right;
    }
}

.items .item {
    text-decoration: none;
}

.item img{
    width: 10rem;
    height: 10rem;
    border-radius: 0.5rem;
    border-style: solid;
    border-color: #D9D9D9;
}




/* ITEM PAGE */


.slides, .item-images, .image-slide {
    width: 25rem;
    height: 25rem;
    border-radius: 3rem;
}

.item-images {
    margin-right: 3rem;
}

.itemPage .userProfile {
    color: black;
    margin-right: 3rem;
    img {
        height: 2rem;
    }
}

.itemPage .sendMessage-btn {
    background-color: #F2E8D5;
    border-radius: 1rem;
    padding: 0.5rem;
    margin-top:0.5rem;
    border-style: none;
    color: #6A4806;
}

.itemPage .userProfile-btn {
    background-color: transparent;
    border-style: none;
    text-decoration: underline;
    margin-top: 1rem;
}

.itemPage header {
    height: 4rem;
    width: 100%;
}

.itemPage .edit img, .itemPage i, .like {
    height: 2rem;
    margin: 1rem 0;
}

.itemPage .priceSection {
    width: 100%;
}

.itemPage .price {
    font-size: 2rem;
    font-weight: bold;
}

.itemPage .Buy {
    background-color: transparent;
    border-style: none;
    color: #6A4806;
    padding: 0;
    margin-left: 5px;
}

.itemPage .buy-item {
    background-color: #F2E8D5;
    border-radius: 1rem;
    padding: 0.5rem;
    height: 2rem;
}

.itemPage .itemTags ul {
    padding: 0;
    margin: 0;
}

.itemPage .itemTags li {
    font-size: 0.7rem;
    margin-right: 0.5rem;
    border-style: solid;
    border-radius: 0.5rem;
    border-color: grey;
    padding: 0.3rem;
    list-style: none;
    height: 1rem;
    margin-top: 0.5rem;
}

/* CART PAGE */

.cartPage a {
    text-decoration: none;
    color: black;
}

.cartPage .Buy {
    border-style: none;
    color: white;
    background-color: black;
    border-radius: 0.5rem;
    padding: 1rem;
    margin: 1rem auto;
    width: 100%;
}

.cartPage .buy-item {
    margin: 0 auto;
    width: 100%;
}

.cartPage .seller {
    margin: 2rem 3rem;
}

main .cartPage  h2 {
    text-align: center;
    padding-top: 1rem;
}

.cartPage .seller-info {
    margin: 0;
    padding:0.5rem 0;
    border-top-style: solid;
    border-bottom-style: solid;
    img {
        height: 2rem;
    }
    p {
        margin: 0;
    }
}

.cartPage .item {
    margin: 1rem;
}

.cartPage .item-info {
    width: 100%;
    margin-left: 1rem;
}

.cartPage .price {
    text-align: right;
}

.cartPage .sum {
    height: fit-content;
    background-color: #EBEBEB;
    padding: 0 1rem;
    margin-left: 1rem;
    margin-top: 1rem;
}

.cartPage .seller-items {
    border-bottom-style: solid;
}

/* NEW ITEM PAGE */

main .newItemPage {
    background-color: #F2E8D5;
}

main .newItemPage form {
    background-color: white;
    padding: 1rem;
    margin: 0 1rem;
}

main .newItemPage h2 {
    text-align: center;
}

main .newItemPage form > * {
    padding: 0.5rem;
}

.newItemPage input[type=text], input[type=number], select  {
    background-color: #F1F1F1;
    border-style: none;
    border-radius: 0.5rem;
}

.newItemPage input[type=submit] {
    width: 10rem;
    margin: 1.5rem auto auto auto;
    border-style: none;
    border-radius: 0.5rem;
    background-color: #F2E8D5;
}

/* SEARCH PAGE */

.searchPage .item-info {
    width: 10rem;
}

.searchPage .price {
    text-align: right;
}

main .searchPage  h2 {
    margin:0;
}

.searchPage .filter {
    padding: 1rem;
    background-color: #F2E8D5;
    margin-right: 1rem;
}

.searchPage .items {
    margin: 2rem 0;
}

.searchPage .item {
    flex: 10%;
}





/* USER PAGE */

main .userPage{
    padding: 0 3rem;
}

.userPage .user  {
    margin-bottom: 2rem;
}

.userPage .feedback {
    height: 20rem;
}

.userPage .items {
    width: 23rem;
}

.userPage .user-detais {
    align-self: center;
}

.userPage .feedback {
    background-color: #D9D9D9;
    margin-right: 1rem;
    border-radius: 1rem;
    h2 {
        border-bottom-style: solid;
        border-bottom-color: black;
        padding-bottom: 1rem;
    }
}
.userPage .feedback > * {
    padding-left:1rem;
}

.userPage .comment {
    background-color: #F1F1F1;
    margin: 0 1rem 1rem;
    border-radius: 1rem;
}

.userPage .comment img {
    width: 3rem;
    margin-top: 0.5rem;
    margin-right: 0.5rem;
}

.userPage .comment p {
    padding-top: 0.5rem;
    margin: 0;
}
.userPage .uname {
    font-weight: bold;
}

.userPage .content {
    padding-left: 3.5rem;
    padding-bottom: 0.5rem;
}

.userPage .feedback > p {
    text-decoration:underline;
}

/* LOGIN AND REGISTER */
.login, .register {
    background-color: #F2E8D5;
    text-align: center;
    margin: 0 auto;
    width: 40%;
    border-radius: 10px;
}
.login h2, .register h2 {
    padding-top: 1rem;
}
.login form > *, .register form > * {
    margin: 0.5rem auto;
}

.login label, .register label {
    width: 100%;
}

.login button, .register button {
    border-style: none;
    color: white;
    background-color: black;
    border-radius: 0.5rem;
    padding: 0.5rem;
    justify-content: center;
    width: 50%;
    margin-bottom: 1.5rem;
}

.login input, .register input {
    border-style: none;
    border-radius: 0.5rem;
    padding: 0.5rem;
    text-align: center;
    width: 65%;
}

.login a {
    color: black;
    text-decoration: none;
    padding-bottom: 1rem;
}

i {
    color: black;
}
.search {
    position: relative;
    display: inline-block;
}
#suggestions {
    width: 30%;
    position: absolute;
    top: 6px;
    background-color: #F1F1F1;
    transition: all 1s ease;
    margin-top: 3.2rem;
    margin-left: 7rem;
    display: none;
    border-radius: 0.5rem;
}

#suggestions a {
    color: black;
    padding: 10px;
    text-decoration: none;
}