@import url('https://fonts.googleapis.com/css2?family=Carrois+Gothic+SC&display=swap');

body {
    margin: 0;
    font-family: "Carrois Gothic SC";
}

header {
    position: fixed;
    width: 100%;
    top:0;
    display: flex;
    height: 5rem;
    background-color: #F2E8D5;
    align-items: center;
    justify-content:space-between;
}

.search-container {
    display: flex;
    align-items: center;
    background-color: white;
    border-radius: 30px;
    border-color: black;
    border-width: 1px;
    border-style:solid;
    flex-grow: 0.5;
}

#cart, #heart{
    height: 2rem;
    padding: 0.5rem;
}

#login {
    padding-right: 1rem;
    padding-left: 0.5rem;
    color: black;
    text-decoration: none;
}

#logo {
    height: 5rem;
}

.search-container form {
    display: flex;
    align-items: center;
    flex-grow: 1;
}

input[name="search"] {
    border-width: 0;
    outline: none;
    width: 100%;
}

.searchbtn img {
    height: 1.2rem;
    margin-right: 0.2rem;
}

.searchbtn {
    background-color: transparent;
    border-width: 0;
}

.dropbtn img {
    height: 1rem;
}

.dropbtn {
    display: flex;
    align-items: center;
    background-color: #D9D9D9;
    color: black;
    font-family: "Carrois Gothic SC";
    border: none;
    cursor: pointer;
    height: 2rem;
    border-radius: 30px;
}
  
.dropdown-categories {
    position: relative;
    display: inline-block;
}
  
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 100px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 1rem;
}
  
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
  
.dropdown-content a:hover {
    background-color: #D9D9D9;
    border-radius: 1rem;
}
  
.dropdown-categories:hover .dropdown-content {
    display: block;
}

main {
    margin-top: 6rem;
}

body > footer {
    margin-top: 2em;
    padding: 0.5em;
    margin-bottom: 0;
    background-color: #F2E8D5;
    color: black;
    text-align: center;
}