body {
    margin: 0;
}

header {
    display: flex;
    height: 5rem;
    background-color: #F2E8D5;
}

.search-container {
    display: flex;
}

.dropbtn {
    background-color: #D9D9D9;
    color: black;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}
  
.dropdown-categories {
    position: relative;
    display: inline-block;
}
  
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
  
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
  
.dropdown-content a:hover {background-color: #D9D9D9}
  
.dropdown-categories:hover .dropdown-content {
    display: block;
}
  
.dropdown-categories:hover .dropbtn {
    background-color: #D9D9D9;
}