.login-resgister a {
    cursor:pointer;
    transition: all 200ms linear;
}



.checkbox:checked + label:before, .checkbox:not(:checked) + label:before {
    transition: all 0.5s ease;
}

.checkbox:checked + label:before {
    transform: translateX(44px) rotate(-270deg);
}

.sign-up {
    transform: rotateY(180deg);
}

